[2022-03-14 08:12] evoxmusic opened #1 "Source: Support MySQL"
Implement and support MySQL source connector.

TBD

[2022-03-14 08:12] evoxmusic opened #2 "Source: Support MongoDB"
Implement and support MongoDB source connector.

TBD

[2022-03-15 20:27] tbmreza opened #5 "MySQL parsing expression grammar"
We use dump-parser subcrate to parse and edit database dump. For the long term, if and when maintaining hand-crafted parsers for different databases is unwieldy, the plan is to use a parser generator such as https://github.com/pest-parser/pest. This issue could be a first step towards that, in addition to the immediate purpose of supporting MySQL.

[2022-03-17 19:27] evoxmusic opened #7 "Transformer: keep first character"
Create a transformer to keep only the first character of the column.

## Examples
### Example 1

Input: Romaric
Output: R

### Example 2

Input: 123
Output: 1

### Example 3

Input: R
Output: R

### Example 4

Input: Null
Output: Null

### Example 5

Input: "" (empty)
Output: "" (empty)

[2022-03-17 19:32] evoxmusic opened #8 "Create a Transformer to generate a first name"
Create a transformer to generate a "first name" from a list.

## Examples
### Example 1

Input: Romaric
Output: Julie

### Example 2

Input: Lucas
Output: Georges

### Example 3

Input: Etienne
Output: Julienne

### Example 4

Input: Null
Output: Null

### Example 5

Input: "" (empty)
Output: "" (empty)

### Example 6

Input: 123
Output: 123

[2022-03-18 12:10] fabriceclementz commented on #8
Hi ! Thx for this project, It will be very helpful for me ! I will try to tackle this issue.

[2022-03-18 12:22] evoxmusic commented on #8
Hey @fabriceclementz can you give more details about your use case?

[2022-03-18 12:46] fabriceclementz commented on #8
For sure, I have some MySQL and Mongo production databases that I'll want to replicate on staging or other environments and I need to anonymize some fields during this process. So Replibyte seems to be the perfect tool for that !

[2022-03-21 20:00] evoxmusic opened #18 "Feature: skip table synchronization"
Hi, a user asked me if it was possible to skip one or more tables from the synchronization. The use case was: some tables are pretty heavy (> 100GB) and do not need to be synchronized for a development environment.

To skip the `public.logs` table, the configuration YAML could be like this:

[code]

Feel free to pick this issue.

[2022-03-22 18:42] fabriceclementz opened #19 "Failing tests for pull requests from forked repositories"
Hi  @evoxmusic

I think I've found why tests are failing on pull requests, it's because secrets are not passed to the runner for security concerns.

See https://docs.github.com/en/actions/security-guides/encrypted-secrets#using-encrypted-secrets-in-a-workflow

There is this note :

I propose to replace `${{ secrets.AWS_ACCESS_KEY_ID }}` and `${{ secrets.AWS_SECRET_ACCESS_KEY }}` directly by the Mi

[2022-03-22 18:46] fabriceclementz commented on #8
This issue is solved by https://github.com/Qovery/replibyte/pull/12

[2022-03-22 20:10] evoxmusic commented on #19
It makes sense that the credentials are not passed via the env Vars for forks (luckily haha). We can use unwrap_or("minioadmin") to fallback on minio credentials I think

[2022-03-23 06:44] #19 closed

[2022-03-24 07:51] #7 closed

[2022-03-24 18:10] pascalgrimaud opened #24 "Warnings when launching build"
There are a lot of warning when launching `cargo build --release`
Should it be clean or is it intended to keep these variables/functions for futur features?

[code]

[2022-03-25 11:01] ThieryMichel opened #26 "Feature: allow to add custom transformer"
Replibyte is great and really fast. Thanks for the good work.

I have a jsonb columns in my database with a user-defined format. And this column can hold sensitive information.
So I need to use custom logic to properly anonymize it.

Is it possible to add a transformer that would allow applying any custom transformation?
This transformer could call a user-defined bash command to transform the valu

[2022-03-25 22:00] #18 closed

[2022-03-28 10:27] benny-n commented on #24
This also somewhat bothered me, it does make development with a lot of re-builds a little annoying.
A very simple solution would be to add
[code]
to both `/src/main.rs` and `/dump-parser/src/lib.rs` as the 1st line, and all those warnings will be gone.

[2022-03-28 15:28] evoxmusic opened #32 "Feature: restore in a local container for dev purpose"
Hey everyone 👋🏽  I have an idea that can make developer life so much easier while developing locally. What do you think of creating a command like this one 👇

[code]

This command would start a local docker of the appropriate database (E.g Postgres) and restore the latest dump into it.

## Main benefits

Work locally with safe production data.

Happy to have your feedback.

[2022-03-28 16:38] pascalgrimaud commented on #24
I opened this ticket as I'm trying to learn Rust, and would like to contribute :-)
So I can clean all these warnings in different pull requests, but I wanted to be sure if it's intended (for future features) or it's just some missing cleaning during development.

I could do some small PRs (one for each warning) and you could accept or decline, depending on the need of variables / functions. What d

[2022-03-28 17:35] benny-n commented on #24
@pascalgrimaud  It's great that you want to learn Rust and contribute and I'd be happy to help with what I can 🙂
It's just that most of these warnings as you can see are only due to unused to variables or structs, which will only be utilized in the future of the crate development.
So basically cleaning these warnings just means to keep developing the crate :)

[2022-03-30 07:01] evoxmusic opened #34 "Enhancement: make RepliByte installable from Homebrew"
Everything is in the title :) Today, it's tedious to install RepliByte from MacOSX. It will be great to make it installable from Homebrew for MacOSX Intel and M1 processors. Anyone can help here? :)

[2022-03-30 07:02] michaelgrigoryan25 commented on #34
`cargo install https://github.com/qovery/replibyte`?

[2022-03-30 07:03] evoxmusic commented on #34
It requires to have cargo installed locally. Which is not suitable for everyone

[2022-03-30 21:03] evoxmusic opened #35 "Looking for a PostgreSQL and MongoDB dump between 1TB and 30TB of data?"
Hi, I am looking for a PostgreSQL and MongoDB data dump between 1TB and 30TB. The idea would be to build a pipeline test of RepliByte with a very large dump file. It will help a lot to optimize RepliByte. Anyone?

[2022-03-30 22:05] fabriceclementz commented on #34
@evoxmusic

Binaries are not accepted to homebrew-core https://docs.brew.sh/Acceptable-Formulae#we-dont-like-binary-formulae

We can use this formulae which build the binary but depends on rust (so rust needs to be installed locally :( )
I struggle with what to test in the formula because checking the version is considered not sufficient but I can still try to submit to https://github.com/Homebrew

[2022-03-30 22:49] evoxmusic commented on #34
I think the one with `brew tap` is perfect for me. Let me know how you want to proceed

[2022-03-31 17:46] evoxmusic commented on #34
Thank you @fabriceclementz ❤️👌🙏

[2022-03-31 19:51] evoxmusic commented on #32
What could work is to:
1. Start the container and configure the network and credentials to be able to connect locally.
2. Wait for the container to be well started and check that the socket is open.
3. Then inject the dump into it.
4. Return the credentials to the user.

I think this way it's all good.

[2022-03-31 20:17] evoxmusic opened #36 "Support COPY query for PostgreSQL"
Today, the PostgreSQL source only supports `INSERT INTO ...` query. For small dump it's ok, but for bigger one it will take ages to restore data. Supporting `COPY ...` query is necessary here. Feel free to pick this enhancement :)

[2022-04-01 09:31] Vagelis-Prokopiou commented on #35
I don't know if this suggestion will help you, but an alternate solution would be to create your own dump, if no one can provide one.
A simple script would be able to prepare the db with the amount of data you want.

[2022-04-01 10:01] evoxmusic commented on #35
It's a good idea and easier today I guess. Happy to have your contrib if it's doable for you :)

[2022-04-01 10:37] Vagelis-Prokopiou commented on #35
Would be happy to help but creating such a dump is not feasible for me due to insufficient hard drive space :-)

[2022-04-01 22:21] evoxmusic commented on #34
@fabriceclementz it's all good 👌🏽 brew is now supported and the GitHub Actions is in place. I can close this ticket.

[2022-04-01 22:21] #34 closed

[2022-04-02 21:20] evoxmusic opened #40 "Database Subsetting: Scale down a production database to a more reasonable size"
## What is Subsetting

From [Tonic.ai](https://www.tonic.ai/blog/condenser-a-database-subsetting-tool)

As discussed on [Discord](https://discord.qovery.com), *database subsetting* will be super valuable to restore a subset of a production database for a development purpose. E.g. developers from growing companies are interested in using RepliByte for their database with TBs of data 😮 Subsetting a

[2022-04-03 18:40] benny-n commented on #26
@evoxmusic  Can web assembly modules be loaded dynamically? 🤔
I'm not sure.
If not, this would mean the user would have to rebuild RepliByte with wasm bindings each time he'd want to include a new web assembly module.

[2022-04-03 19:10] evoxmusic commented on #26
There is a popular wasm runtime named "[wasmer](https://wasmer.io/)" that allow to load dynamically a wasm module. https://docs.wasmer.io/integrations/examples/instance#loading-the-wasm-module .

So no build needed. Just the build of the wasm module. Which is ok I guess :)

[2022-04-03 19:41] benny-n commented on #26
Nice! that is definitely the way to go. If I'll have some extra time I'll start looking into this :)

[2022-04-03 19:57] evoxmusic commented on #26
I can't wait to see what we can do with wasm. Definitely a good use case here.

[2022-04-04 13:02] #8 closed

[2022-04-05 05:14] evoxmusic commented on #2
Feature supported. Thanks @benny-n

[2022-04-05 05:14] #2 closed

[2022-04-09 07:41] alexisvisco opened #45 "Provide hah function transformer"
I think it will be a good idea to provide same input same output in order to preserve consistency across a database.

You could imagine having a parameter :
[code]

This will got for an input like `abc@outlook.fr` something like `ddaf35a193617abacc417349ae20413112e6fa4e89a97ea20a9eeee64b55d39a2192992a274fc1a836ba3c23a3feebbd454d4423643ce80e2a9ac94fa54ca49f@gmail.com` with a sha512 hash function (u

[2022-04-09 21:19] evoxmusic commented on #45
Hi, good suggestion. I think it can even be a new type of Email Transformer. `HashEmailTransformer`. Feel free to open a PR if you want :)

[2022-04-10 10:38] LouGhys commented on #32
Really looking forward to this!

[2022-04-11 19:36] fabriceclementz commented on #1
I'll take care of this feature asap.

[2022-04-12 05:32] evoxmusic commented on #1
Thank you Fab, I can integrate the database subset for MySQL when we'll have something ready 👍

[2022-04-16 15:03] #40 closed

[2022-04-19 14:17] fabriceclementz commented on #1
MySQL support is in progress, I'll submit a PR soon

[2022-04-20 08:39] #32 closed

[2022-04-24 08:24] evoxmusic opened #48 "Can't connect to local postgres with "restore local" command"
[code]

and when trying to connect to the local db

[code]

[2022-04-24 08:32] fabriceclementz commented on #48
@evoxmusic I’ll check that when I’m back from voting

[2022-04-24 08:53] evoxmusic opened #49 "Missing MongoDB and MySQL clients in Dockerfile"
Hi, I noticed that the MongoDB and MySQL clients are missing in the Dockerfile -> https://github.com/Qovery/replibyte/blob/main/Dockerfile

[2022-04-24 11:37] evoxmusic opened #51 "Improve Postgres subsetting performance"
I've tried to subset a Postgres DB of 2GB of data and RepliByte took 38 minutes to complete. I suspect the function `subset.postgres.filter_insert_into_rows(..)` to be the bottleneck since it is called multiple times and scan the entire file (even if there is a small index).

Something that can be done to drastically reduce the time would be to split the dump into multiple table files. Then scan w

[2022-04-24 11:38] evoxmusic commented on #51
Note: performances depend on how deep is the graph. My testing database contains 41 tables.

[2022-04-24 11:43] evoxmusic opened #52 "Postgres boolean column type not supported"
I've noticed that postgres boolean type is not supported. I did a backup from a table with 2 booleans, and those boolean were NULL.

[2022-04-24 11:45] #48 closed

[2022-04-24 11:45] #1 closed

[2022-04-24 12:04] evoxmusic opened #53 "Backup is encrypted while no encryption is set"
Everything is in the title :)

[code]

the conf file

[code]

here is a screenshot of the encrypted data

![image](https://user-images.githubusercontent.com/1284743/164975430-34cadf6d-ca9d-4584-9302-56b0e5cbb327.png)

---
This is probably a bug in the CLI arg parsing

[2022-04-24 12:50] #52 closed

[2022-04-24 14:43] fabriceclementz commented on #53
@evoxmusic  I will take a look to this

[2022-04-24 18:38] benny-n opened #56 "Release action fails for target `x86_64-apple-darwin`"
Currently, the release action fails with this error:

            "_clock_gettime", referenced from:
                wasmer_wasi::syscalls::clock_time_get::haf582eb828a0fd26 in libwasmer_wasi-fc2597b33c106c49.rlib(wasmer_wasi-fc2597b33c106c49.wasmer_wasi.a26eec5f-cgu.0.rcgu.o)
            "_clock_getres", referenced from:
                wasmer_wasi::syscalls::clock_res_get::h24af0486cc9fc758 in l

[2022-04-24 19:04] evoxmusic commented on #56
What do you think is better? I have the feeling that all options have some pros and cons. (thanks a lot for investigating)

[2022-04-24 21:33] benny-n commented on #56
Well I think we should try at least 1-2 other github actions before posting issues.

This [post](https://alican.codes/rust-github-actions) looks promising.

[2022-04-25 21:07] #53 closed

[2022-04-26 21:22] evoxmusic opened #61 "Writing a complete guide on how to use Replibyte"
I think we have reached a good milestone (big thanks to @fabriceclementz and @benny-n). It's the perfect time to show how to use RepliByte. Writing an article covering the basics (backup, restore, transformer, subset) and some more advanced use cases (E.g. using wasm transformer) of Replibyte would be greatly appreciated by any user that wants to get started.

Here is an example of  a guide struct

[2022-04-26 21:24] #49 closed

[2022-04-26 21:52] Steve-Dusty opened #62 "Stev"
Sorry, this was a typo.

[2022-04-26 21:54] #62 closed

[2022-04-26 22:15] evoxmusic opened #64 "Auto-detect sensitive fields and automatically hide potential sensitive data"
One feature that could be very useful and that will prevent any potential unexpected data leak would be to automatically detect sensitive fields to apply a transformer on it. It could be an option in the `conf.yaml` that will enable it:

[code]

## Why

They are many reasons why this feature would be useful:

1. Suppose you use Replibyte and you defined your `conf.yaml` with a certain version of y

[2022-04-28 17:41] fabriceclementz commented on #61
@evoxmusic Seems like a good way to attract more users. I saw you've started to write it on discord. Let me know if you need help for some parts.

[2022-04-28 18:47] fabriceclementz opened #66 "Provide a delete backup command"
Hi @evoxmusic

Over the time, more and more backups adds up on the bridge so I think that would be good to have a command to delete a backup from the bridge. This is the signature I propose :

[code]

In the future we could add options to delete backups like `--older-than=14d` or so.

WDYT?

[2022-04-28 19:24] evoxmusic commented on #66
Good idea. Plus, the `--older-than=14d` option is the most useful one. Or we can even think about an option like `--keep-last=10` to keep the last 10 backups.

[2022-04-28 19:26] evoxmusic opened #67 "Set custom backup name"
As a user of RepliByte, I might want to choose the name of a backup with a better name than the one auto-generated. The option could be added during the run of `backup run` command.

[code]

WDYT?

[2022-04-28 19:27] fabriceclementz commented on #66
👍  I will submit a PR

[2022-04-28 19:33] fabriceclementz commented on #67
👍  It could be useful for people which use the same S3 bucket for many projects.
So you could name it with your project name. However, we should keep the timestamp suffix?
For example, the final backup will be named `my-backup-name-1651170187000`. Are you ok with this?

[2022-04-28 19:37] evoxmusic commented on #67
I am not sure if it is necessary, since you might want to restore a predictable name `replibyte restore -v my-backup-name`

[2022-04-28 19:55] fabriceclementz commented on #67
I think you're right!
It's simpler with a simple predictable name and it's simple enough to add a timestamp or what you want by scripting the backup with a simple bash or in crontab.

[2022-04-29 05:16] evoxmusic commented on #61
Thank you @fabriceclementz - I keep you posted. Basically I think to create a general getting started guide and then create more specific use case guide.

[2022-04-29 21:22] evoxmusic opened #69 "Feature: implement database subseting for MySQL"
Implement database subsetting for MySQL as [we did for PostgreSQL.](https://github.com/Qovery/replibyte/issues/40)

[2022-04-29 21:25] evoxmusic opened #70 "Feature: implement database subseting for MongoDB"
Implement database subsetting for MongoDB as [we did for PostgreSQL.](https://github.com/Qovery/replibyte/issues/40).

However, MongoDB is not a relational database and we need to support "Virtual Foreign Key". Meaning, as a user I want to indicate that `column collection_a.post_id` is linked to `column collection_b.id` and then keep the consistency across the collections.

[2022-04-30 09:34] evoxmusic opened #71 "Catch error external command errors exit != 0"
Verify that we correctly catch potential external command exec error (status != 0) that can lead to potential bugs.

[2022-04-30 09:35] evoxmusic opened #72 "Use pg_dump instead of pg_dumpall command"
1. pg_dumpall is too aggressive/stressful for a production database
2. needs superuser permissions which is not possible sometimes (e.g AWS RDS)

[2022-04-30 09:56] evoxmusic opened #73 "Improvement: check options from CLI"
It will be useful to better check the parameters combination that is used for `backup run` and `restore` to avoid unexpected behavior. E.g:

`replibyte backup run -s postgres -i` -> -s <database_type> and -i work together.

While `replibyte backup run` alone does not need -i and -s parameters.

[2022-04-30 10:14] evoxmusic opened #74 "New subset strategy: create SELECT with WHERE clause strategy"
As a user, I want to select a subset of a database based on a SELECT and WHERE clause.

[code]

It means that we need to create a small SQL parser to build a conditional tree and filter on those conditions.

Examples of queries we can support:

- `SELECT * FROM public.table WHERE customer_id = 'abcdef';`
- `SELECT * FROM public.table WHERE customer_id = 'abcdef' AND total_cost_usd > 50;`
- `SELECT

[2022-04-30 11:49] benny-n commented on #70
How would you indicate that as a user?
If there isn't a known standard in MongoDB for such behavior, I'm not really sure how we can add support for this concept.

[2022-04-30 13:40] evoxmusic commented on #70
From my experience, developers using MongoDB (and any NoSQL db) end up managing relations between collections (MongoDB table concept) from their code. We can add a way to declare virtual relations between tables in the YAML file. Eg.

[code]

WDYT?

[2022-05-01 09:08] benny-n commented on #70
This could work, but I think it'd be best if we'd limit this to IDs only, i.e you can only reference from a field of type  `bson::oid::ObjectId` to another field of type `bson::oid::ObjectId` .

Another thing to keep in mind is that the MongoDB dump parser works differently from the postgres one, in the sense that postgres uses query strings to build its DB while Mongo actually builds all of the D

[2022-05-01 20:27] #67 closed

[2022-05-02 08:27] 2Kable commented on #74
This feature would be amazing,
We have data that spans across schema and I doubt the current percentage strategy would work
Furthermore, this would guarantee some consistency over seed data

[2022-05-02 09:09] 2Kable commented on #72
We used VAULT to generate credentials over a RDS's PGSQL database, and we effectively encountered an error:
It made a dump of ~100B, when connecting to the database, so we ran pg_dumpall manually
It failed with the following error:
[code]
This is because all RDS credentials doesn't have the superuser role, which is necessary for pg_dumpall
It seems replibyte, is making a backup of this error log,

[2022-05-02 09:12] 2Kable commented on #71
We encountered this bug, when we used a user with insufficient permissions. The tool made a 136 Byte backup of what I think is the pg_dumpall error log:

[code]

But the error wasn't correctly handled

[2022-05-02 10:03] evoxmusic commented on #72
Thank you @2Kable for the details - I keep you posted

[2022-05-02 15:08] welcoMattic opened #77 "Make password in connection uri optionnal"
`missing <password> property from connection uri` error is triggered for a local database without password.

It should support `mysql://root:@mysql:3306/my_db` uri.

[2022-05-02 19:57] evoxmusic opened #80 "Nomenclature / naming"
I have the feeling that "bridge" does not mean anything and it might be more accurate to rename it into something like "store". The idea is a place where to store the created dataset from the source database. A "bridge" does not really reflect this concept. What do you think?

[2022-05-02 20:11] fabriceclementz commented on #80
It make sense to rename it to store. As you said, it's the place where backups are stored 👍
I don't think "bridge" is a bad name either but "store" is conceptually more accurate to me.

[2022-05-02 20:24] evoxmusic commented on #80
What do you think of datastore? (naming is definitely the most challenging part of any project 😂)

[2022-05-02 20:41] #72 closed

[2022-05-02 20:43] fabriceclementz commented on #80
I can only agree, naming and cache invalidation 😄  Datastore is great too, maybe it's more common as it's more "specialized".  I even prefer it!

Backup store could be another alternative.

[2022-05-02 20:48] evoxmusic commented on #80
Ahah, let's go for "datastore" then.

BTW, I think we'll also need to rename "backup" and "restore" since it sounds very "backup tool". I don't have any idea yet on what it's more suitable to use. But my feeling is "backup" and "restore" can be confusing with a backup solution...

[2022-05-02 22:33] benny-n commented on #80
"Datastore" sounds good 🙂
I suggest renaming "backup" into "dump", since we use pg_dump/mongodump tools for it anyway, it seems like the most appropriate name for this command in my opinion.
As for "restore", I can't come up with a better name.

Might be unrelated to this issue but I also think we should consider a "replicate" command (we are *Repli*Byte after all 😉)
This command should answer to

[2022-05-03 11:16] fabriceclementz commented on #80
+1 for dump, the only drawback of this name is that it doesn't express the fact we can transform data.
That said, I'm not sure we can find a better name than dump or backup.

For me, a command that restore directly to a local container without a "datastore" doesn't need to have another name.
It's just a new "datastore" type (aka transient) that we could express in the config file.
But it will defi

[2022-05-03 14:34] 2Kable opened #81 "Restore command doesn't keep column name quoted"
The current implementation of the restore command doesn't seem to keep the column name quoted:

Given a `Order` table with a `customerId` column, the pg_dump will correctly keep the column name quoted
But when running the restore command it will forward the sql command with column unquoted, leading pgsql, to look for the `customerid` column

EG:
The raw dump will contain:
[code]
While the restore

[2022-05-03 14:44] evoxmusic commented on #81
Hi @2Kable , are you sure about the format of the `INSERT INTO...` query with the double quotes "customerId". I am not sure if it is a valid INSERT INTO query for PostgreSQL.

[2022-05-03 15:29] evoxmusic commented on #81
I'll take a look ASAP to reproduce and provide a fix

[2022-05-03 18:32] #66 closed

[2022-05-03 21:09] evoxmusic commented on #80
(we can keep chatting here)

I think `dump` is much better than `backup` since backup refers to the action of backing up the data of X to prevent data loss. Maybe we can use `dump` for an original dump, and `transformed dump` for the one modified by Replibyte.

[code]

The CLI commands would be something like:

to create a dump
[code]

to restore it
[code]

WDYT?

---

This command should answer t

[2022-05-05 16:13] mkalioby opened #83 "Using local datastore"
Can I use the datastore on the local disk?rather than the cloud as we host our services onPerm and we don't have S3 complaint service.

[2022-05-05 20:52] ederski opened #84 "`postgresql://` is a valid connection string prefix for Postgres"
When using a connection_uri that starts with `postgresql://`, I get the error: `'postgresql' not supported`. Changing the connection_uri to start with `postgres://` fixes the issue, but `postgresql://` is also valid:

https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING

[2022-05-05 20:53] ederski opened #85 "BucketAlreadyOwnedByYou error when running `replibyte bucket list` multiple times"
When running `replibyte bucket list`, I get the following error if the `bridge` bucket already exists.

[code]

[2022-05-05 21:04] ederski commented on #85
This also seems to error for every replibyte command I run. I was able to export a backup by first deleting the bucket, but now when I try to run restore from that backup (`replibyte -c ./replibyte.yaml restore local --image postgresql --value latest`), I get the BucketAlreadyOwnedByYou error.

[2022-05-05 21:54] #84 closed

[2022-05-06 17:56] wtait1-ff opened #88 "Create ISSUE_TEMPLATE and PULL_REQUEST_TEMPLATE for the repo"
It would be great to add templates that guide users in creating issues and PR's for this repo

- [PR templates](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository)
- [Issue templates](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-is

[2022-05-06 18:01] wtait1-ff opened #89 "Improve documentation for Google Cloud Storage"
Hi team, I'm evaluating using `replibyte` for our GCP environments. This tool looks great! And about a week ago I had read a table of supported datastore providers in the README that included Google Cloud Storage, as GCS is also able to "speak" in the S3 wire protocol.

However it seems all the documentation from the README has been moved to https://www.replibyte.com, but that table of supported d

[2022-05-06 18:03] wtait1-ff commented on #85
Hey @ederski I followed along with your discussion in the `#replibyte` Discord from yesterday as I noted you're trying to use `replibyte` in GCP, as I'm currently doing the same evaluation 🙂 . So just wanted to clarify for the maintainers that this issue is experienced specifically in scope for Google Cloud Storage as the datastore provider - but just wanted to double-check with you that that's th

[2022-05-06 18:17] ederski commented on #85
Hi! 👋  Yes I am using GCP and this issue is probably specific to Cloud Storage, totally forgot to mention that 🤦‍♀️ . Thanks for the help, documentation for GCP would be fantastic :)

[2022-05-06 20:02] evoxmusic commented on #88
Thank you @wtait1-ff , I am going to take a look this weekend 👍

[2022-05-06 20:59] evoxmusic commented on #85
I am going to take a look this weekend 👍🏽

[2022-05-06 22:17] evoxmusic commented on #89
Do you have the options/parameters required to upload on Google Cloud Storage? Happy to improve the YAML configuration to support GCP and other S3 datastores correctly.

[2022-05-06 22:18] evoxmusic commented on #61
It's almost done :)

[2022-05-07 09:32] #77 closed

[2022-05-07 09:32] evoxmusic commented on #77
Issue solved, thx @welcoMattic for reporting

[2022-05-07 19:25] fabriceclementz commented on #83
I can work on it, I need this feature too.

I suggest this config:

[code]

WDYT @evoxmusic ?

[2022-05-07 19:31] evoxmusic commented on #83
Yes let's go 👍 local_storage is maybe more appropriate? (Even if I like local_fs filesystem)

[2022-05-07 19:35] fabriceclementz commented on #83
At first glance, I don't like `local_storage` too much because this makes me think to the browser `localStorage` 😅
But let's go for it for now, we can change it later when you review it if really necessary.

As always, thx for your feedback :)

[2022-05-07 19:37] evoxmusic commented on #83
Haha it makes sense. And what about just "local_disk" ?

[2022-05-07 19:39] fabriceclementz commented on #83
It's great! Go for it! 🚀

[2022-05-07 19:45] #71 closed

[2022-05-07 20:47] evoxmusic commented on #80
I think we can close this issue, I've renamed `backup` for `dump` and `bridge` for `datastore`. It looks clearer. If you see something wrong with the naming, you can re-open this issue. :)

[2022-05-07 20:47] #80 closed

[2022-05-08 10:14] #89 closed

[2022-05-08 10:33] evoxmusic commented on #85
It will be fixed with v0.6.0 - which will be released in a few minutes.

[2022-05-08 10:33] #85 closed

[2022-05-09 18:46] prashantcloudsufi opened #92 "MySQL dump is not working and also not throwing any error ,"
I am using MySQL 5.7 and its running on docket container in my local. I am trying to access the same from the my Windows 64 system. I am able to access the DB from one of mysql client.

Below is my sample conf file looks like

source:
  connection_uri: mysql://root:password@localhost:3306/testdb  # you can use $DATABASE_URL
  transformers:
    - database: testdb # TO CHANGE
      table: test # TO

[2022-05-10 10:56] fazo96 opened #94 "panic: Unterminated string literal in SQL instruction"
Hello, at Flexhire we are trying out this tool to seed our staging DB with production data.

We are using replibyte v0.6 for Linux x86 and the dump is of a PostgreSQL 11 DB hosted on AWS RDS.

When generating a dump from our production DB we are encountering the following crash. I included a stack backtrace generated with `RUST_BACKTRACE=full`

We have `text` columns containing user entered text i

[2022-05-10 11:29] benny-n commented on #94
Hi @fazo96
Could you give an example of such column value that might have caused the crash so that we can reproduce this behavior?

[2022-05-10 15:13] rileyrohloff opened #95 "BucketAlreadyOwnedByYou s3"
There seems to be something doing on the with s3 part of the tool. After I initially create a dump, which looks like it creates the s3 bucket as well. Every replibyte command after replibyte -c conf.yaml dump create results in [2022-05-10T02:06:58Z ERROR replibyte::datastore::s3] BucketAlreadyOwnedByYou: Your previous request to create the named bucket succeeded and you already own it. My conf.yam

[2022-05-10 20:36] wtait1-ff opened #97 "Create official replibyte container image"
The [new documentation](https://www.replibyte.com/docs/guides/deploy-replibyte/container) for how to deploy / run `replibyte` as a container workload is great! But right now there are a bunch of steps on how to build a custom container image. It would be ideal to have some CI that builds and releases a standard `replibyte` container image that users can just download from some well-known, public r

[2022-05-10 20:46] evoxmusic commented on #97
It's a very good point. Do you want to bootstrap something? It will help a lot 🙂

[2022-05-10 20:48] wtait1-ff commented on #97
Yep I'm happy to get a 1st iteration thrown together for this 🚀

[2022-05-12 02:57] #81 closed

[2022-05-12 13:06] fazo96 commented on #94
Hi @benny-n, I tried narrowing down the problematic database to just one value or even column/row.

However I could only narrow it down to one table. It seems that reproducing with just the rows in the log right before the crash, or just the column that seems to contain the bad value doesn't work. So it might be a difficult bug to track down.

Can you provide an email address to which I can send t

[2022-05-12 16:05] chruzcruz opened #98 "Unable to process local dump file"
Good Afternoon,

I am trying to process a local dump file but unable to bypass the requirement for a valid connection_uri.

`
cat production.sql | replibyte -c conf.yaml dump create -i
`

Please see below for my configuration
`source:
  connection_uri: "postgres://root:password@localhost:5453/root"
  transformers:
    - database: public
      table: table2
      columns:
        - name: city

[2022-05-13 06:50] fabriceclementz commented on #98
Hi @chruzcruz

As a workaround, I suggest you add a fake connection_uri as the source connection uri is not optionnal for now and the `-s postgresql` flag to indicate the source database type.

So your command should be: `cat production.sql | replibyte -c conf.yaml dump create -i -s postgresql`

It should works. We're working on a fix.

[2022-05-13 07:25] fazo96 commented on #94
I have sent the affected dump via email. Hopefully it proves useful

[2022-05-13 08:12] fabriceclementz opened #100 "Support MongoDB import from stdin"
As for MySQL and PostgreSQL, we want to add the possibility to import an existing mongodump.

Ex :

[code]

[2022-05-13 08:12] evoxmusic commented on #100
That would be great to be consistent with Postgres and MySQL

[2022-05-13 08:17] fabriceclementz commented on #100
@evoxmusic  I'm not sure to understand what do you mean by that, maybe I've missed something ? Anyway, it's better that we stay consistent as much as possible between the different sources.

[2022-05-13 08:29] #73 closed

[2022-05-13 09:15] #98 closed

[2022-05-13 11:22] vemilyus opened #102 "Allow all supported ways for AWS authentication"
Hi there!

Why are you enforcing the use of the IAM access key ID and secret access key options? This is preventing us from using this tool effectively in an environment where you don't get those credentials by default (like EC2 with an instance profile).

The AWS SDK for Rust already supports all the various methods of authentication, so I don't see why access key id/secret access key pairs would

[2022-05-13 11:33] evoxmusic commented on #102
Hi Alex, thanks for pointing out best practices. I will take a look at what we can do to provide multiple ways to authenticate through AWS. If you have some time to provide a PR, it would be greatly appreciated :)

[2022-05-13 17:29] evoxmusic commented on #100
Sorry, I was not clear. I'm aligned 😁

[2022-05-13 18:22] evoxmusic commented on #94
Happy to take a look as well @fazo96 - my email is romaric at qovery dot com

[2022-05-13 18:22] evoxmusic commented on #83
Let me know @fabriceclementz if you need any help 🚀

[2022-05-13 18:27] fazo96 commented on #94
@evoxmusic I forwarded you the email with the reproduction case.

Thanks for taking a swift interest in fixing the issue!

[2022-05-13 18:30] fabriceclementz commented on #83
- Thx @evoxmusic ! I have a working version on my local repo. I just need to implement the delete method and add some tests. I think I can make a PR this week-end.

[2022-05-14 08:08] mumumumu opened #104 "Cannot create S3 bucket in us-east-1 region"
I've noticed I'm not able to initialize an S3 bucket in the `us-east-1` region.

My `replibyte.yaml`:
[code]

Running `replibyte -c replibyte.yaml dump list` with `S3_BUCKET=us-east-1` results in this error:
[code]
But the command works fine with `S3_BUCKET=us-east-2` and creates the bucket as expected.

I've attempted a workaround (https://github.com/mumumumu/replibyte/commit/c6eff63c5adb81756ab1

[2022-05-14 10:11] benny-n commented on #94
This was a somewhat difficult error to track down, but I think finally have a general idea of why it's happening.

First of all, the error `'TokenizerError { message: "Unterminated string literal"}` is actually a _side effect_ of a problem that occurs even earlier.

The problem comes from the function `dump_parser::utils::list_sql_queries_from_dump_reader`.

Let's take this short part of a dump fo

[2022-05-14 10:30] evoxmusic commented on #94
Hi @benny-n , first of all - congrats! Because you made a huge work to troubleshoot this bug. It's a hard one and I got the same issues in the past, which led me to rewrite [a lightweight SQL parser](https://github.com/Qovery/Replibyte/blob/main/dump-parser/src/utils.rs#L158) that returns a `Statement` enum.

I make some tests on my side and I come back with some insights

[2022-05-14 14:35] gatkisson opened #105 "Support for Microsoft SQL"
We'd love to use this with MSSQL databases as well - can you please add support?

[2022-05-14 19:34] evoxmusic commented on #94
@benny-n are you sure about this:

I've tried to reproduce it locally with the following test and it's good

[code]

Can you provide me with a test representing the error? (Maybe the problem does not come from `list_statements(..)` and I need to test `list_sql_queries_from_dump_reader(..)`?

[2022-05-14 20:11] evoxmusic commented on #94
I've reproduced the issue with `list_sql_queries_from_dump_reader(..)` - indeed there is a logical issue. I'm looking at how we can fix it.

[2022-05-14 20:51] fabriceclementz opened #108 "Rename backup to dump?"
As we rename the cli command from backup to dump, I think we could rename it to Dump in the datastore directory.
WDYT?

Example:

[code]

to

[code]

[code]

to

[code]

This update will lead to a renaming of the key `backups` to `dumps` inside the `metadata.json` file.

[2022-05-14 20:56] evoxmusic commented on #108
Yes, it will be more consistent, however, it's a breaking change for the metadata.json. How should we manage it?

[2022-05-14 20:57] #83 closed

[2022-05-14 21:09] evoxmusic commented on #94
@benny-n does this PR fix the issue for you? https://github.com/Qovery/Replibyte/pull/107

[2022-05-14 21:27] Go2Engle commented on #105
+1 would love to see support for this as well!

[2022-05-14 21:35] fabriceclementz commented on #108
My first thoughts:

1. The simplest solution could be to add a warning that indicates to the user he must rename "backups" to "dumps" manually.

2. A more effective solution could be to add the replibyte version inside the metadata.json.
When running the CLI, we could compare the [replibyte version](https://docs.rs/clap/latest/clap/struct.App.html#method.get_version) with the version in the metada

[2022-05-14 22:18] benny-n commented on #94
@evoxmusic
From my end, it looks like it does!
We should verify it with the sql dumps provided by the users who encountered this error.

[2022-05-15 09:10] evoxmusic commented on #94
I confirm - it works :) I merge and release a new version 🥳 - cc @fazo96

[2022-05-15 09:10] #94 closed

[2022-05-15 09:14] evoxmusic commented on #108
LGTM - making the `metadata.json` file versioned is a good way to prevent breaking changes and update it smoothly from a lower version 👍🏽

[2022-05-15 09:15] evoxmusic commented on #105
If one of you has a valid MSSQL database dump, I can take a look at the amount of work requires to support MSSQL. I will need also to check the complete grammar.

[2022-05-15 09:17] evoxmusic commented on #104
Indeed, it's a strange issue. @benny-n @fabriceclementz did you experience something similar? 🤔

[2022-05-15 09:18] evoxmusic commented on #95
Can you tell me if you still experience this issue with v0.6.2 or higher?

[2022-05-15 20:02] benny-n commented on #104
Since I don't have an available AWS account, I don't think I can reproduce this error 😕

[2022-05-16 08:27] fazo96 commented on #94
I can confirm the issue is fixed! Thank you both! @evoxmusic @benny-n

[2022-05-16 09:44] evoxmusic opened #109 "Show the source database schema"
As a user, I need to know what tables and columns are available if I need to set up the transformers and subset. It will be super convenient to show the source database schema with a command.

[code]

Then we can analyze the table structure with potentially sensitive data and relations between tables.

[2022-05-16 09:44] akiller commented on #105
Do you want a live database?

You can download SQL server developer edition (free) from https://www.microsoft.com/en-gb/sql-server/sql-server-downloads - which you can install on Windows/Linux. Or there's also a Docker version which will work on Mac too.

Arguably the best database would be [AdventureWorks](https://docs.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-serv

[2022-05-16 10:37] fazo96 opened #110 "Multiple issues blocking our use case"
Hello, thanks for helping us successfully create a DB dump with replibyte by fixing #94

Unfortunately we have realised there are some limitations in replibyte preventing it from being used to replace our existing combination of application code and custom scripts we use to automatically copy production data to our staging environment while editing it a bit to change values that should be changed

[2022-05-16 14:29] markrechler commented on #35
For PostgreSQL, you could generate the data with pgbench, something along the lines of:
[code]
The scaling factor is based on an older wiki entry:
https://wiki.postgresql.org/wiki/Pgbenchtesting

[2022-05-16 19:13] evoxmusic commented on #35
Thank you, super useful

[2022-05-16 19:25] #26 closed

[2022-05-16 20:11] brett-anderson opened #111 "How to use on macos?"
hello! I was wondering the best way to use this on macos. From the docs, I used brew to install:
[code]
but when I restart my terminal and run `replibyte`, I get:
[code]
Brew info:
[code]

brew --cellar replibyte
[code]
Is there a step that I'm missing with brew?

[2022-05-16 20:15] evoxmusic commented on #111
Do you have `/usr/local/Cellar` in your local path? Maybe something is missing in the formulae 🤔

Any idea @fabriceclementz ?

[2022-05-16 20:17] ederski commented on #111
My Cellar is in `/opt/homebrew/Cellar` and I tried adding a few different things to my path to get it to work but still got command not found:
/opt/homebrew/Cellar
/opt/homebrew/Cellar/replibyte/0.6.0/bin
/opt/homebrew/Cellar/replibyte
/opt/homebrew/Cellar/replibyte/0.6.0

[2022-05-16 20:38] vemilyus commented on #102
I've decided to implement this.

However, this would include some changes to the AWS related YAML properties. Is that ok?

[2022-05-16 20:48] fabriceclementz commented on #111
Hi,
I just installed it from homebrew. It was successfully downloaded to `/usr/local/Cellar/replibyte/0.6.3`.

Howewer, I think we need to change this URL https://github.com/Qovery/homebrew-replibyte/blob/main/Formula/replibyte.rb#L5 because it only contains the source code and not the binary of replibyte which is what we want.

I had set up a [test repo](https://github.com/fabriceclementz/homebre

[2022-05-16 20:52] evoxmusic commented on #102
Of course, no problem since it can help to improve AWS supports

[2022-05-16 20:59] evoxmusic commented on #111
@fabriceclementz you are right, I've changed the URL you shared, the only issue is that the binary does not have the correct name. I'm looking at our homebrew GithubActions

[2022-05-16 21:01] fabriceclementz commented on #111
I've just try it with my repo and I've the same error as you cause the binary name is not correct

[code]

[2022-05-16 21:05] evoxmusic commented on #111
I've found the issue, I am giving it a try now. I keep you posted

[2022-05-16 21:05] fabriceclementz commented on #111
I think it's these lines which needs to be modified https://github.com/Qovery/Replibyte/blob/main/.github/workflows/on-release.yml#L117-L118

[2022-05-16 21:07] benny-n commented on #105
@evoxmusic
I think [mssql-scripter](https://github.com/Microsoft/mssql-scripter) would be the perfect tool for creating and restoring dumps for mssql.
Also, [this page](https://www.mssqltips.com/sqlservertip/5913/mssqlscripter-tool-and-examples-to-generate-scripts-for-sql-server-objects/) contains a lot of information about how to use the mentioned tool and some dump templates to get a sense of th

[2022-05-16 21:26] evoxmusic commented on #111
@fabriceclementz can you try now?

[2022-05-16 21:29] ederski commented on #111
It worked for me! Thanks so much!

[2022-05-16 21:31] brett-anderson commented on #111
Worked for me as well. Thanks for the quick turn-around, I'm eager to test this out.

[2022-05-16 21:38] #102 closed

[2022-05-16 21:50] evoxmusic commented on #105
Sounds like it's going to take some time to properly support MSSQL. Maybe we must consider writing a doc explaining how to add a connector and point toward a "how to write a SQL parser" documentation (nothing too complicated from my POV... but I am certainly biased).

[2022-05-17 06:22] evoxmusic commented on #110
Hi @fazo96 , I respond inline

## 1. Slow dump/restore

Indeed, it's an improvement that we need to do. We have an issue opened [here](https://github.com/Qovery/Replibyte/issues/36). `INSERT INTO ...` is super slow compared to `COPY`. I will try to take a look this weekend.

## 2. INSERT failures during restore operation

Can you:
1. open a new issue
2. provide a dump leading to this error?

🙏🏽

#

[2022-05-17 06:31] fabriceclementz commented on #110
Hi,
Makes sense to me too, maybe we could restore in a table names `{original_table_name}_replibyte` and rename the table at the end. Maybe I haven't think of some edge cases.
We should look at the Percona Toolkit too which provides some tools to help us https://www.percona.com/doc/percona-toolkit/LATEST/index.html

[2022-05-17 07:13] fazo96 opened #115 "add a transformer to replace column with hardcoded value"
Hi, I originally made this request in #110

What we need is a transformer that can replace all values in a column with a hardcoded value. The main use case we have for it is replacing values in columns that hold financial data such as the total on invoices and prices of individual products.

Most of those columns are of type `float`, `int` or `bigint` on a postgres database, but some are `string`

[2022-05-17 07:13] evoxmusic opened #116 "Slow local dump restore"
I was making some tests, and using replibyte to restore in local is quite slow.

[code]

It takes ~25s to run `replibyte -c strapi-v4.yaml dump restore local --image postgresql -v latest --port 8989` with a dump of 11kB.

If I run the command with `-o` it is far faster

[code]

It will be great to see how we can improve the docker starting time then :)

[2022-05-17 11:02] fabriceclementz commented on #116
As an enhancement, we could start by fixing this workaround I’ve made while developing the first version of the restore local command https://github.com/Qovery/Replibyte/blob/bd0604cebab381aa0378ccd83af30d3d97101b0b/replibyte/src/destination/docker.rs#L49

A better approach is to poll the container status to wait until he’s up and running.

[2022-05-17 11:53] evoxmusic commented on #116
ahhhhh yes indeed 😂

[2022-05-17 13:59] #111 closed

[2022-05-17 18:00] moisesrodriguez opened #117 "MySQL why use --skip-extended-insert?"
Looking at how `mysqldump` is used, I noticed the flag `--skip-extended-insert`. Why write INSERT statements using one-row syntax that includes only one record in one statement, if it will be much much slower than having multiple records in one INSERT statement? Specially when importing a lot of data.

[2022-05-17 19:02] fabriceclementz commented on #117
Hi @moisesrodriguez
This flag was added so that the final dump is as close as possible to that of PostgreSQL, the reason being that it was easier to parse without major change in the dump parser for assuring a compatibility with MySQL.
Indeed, this has a performance impact but this will be changed in a future release, the objective being to have the most efficient tool possible.

Contributions are

[2022-05-17 19:37] evoxmusic commented on #117
Hey @moisesrodriguez (happy to see you here :)) It's related to this https://github.com/Qovery/Replibyte/issues/36
Once we'll fix it for PSQL, it would be easy to port that change to MySQL. As @fabriceclementz said, feel free to contribute if you have some time. I don't think it's a big deal, to be honest, just a matter of 2 to 3 hours of work (tests included).

[2022-05-17 21:01] brett-anderson opened #119 "Are transformers optional?"
According to the examples, it's possible to create a dump with no transformers:
https://github.com/Qovery/Replibyte/blob/main/examples/source-postgres-with-no-transformers.yaml

However, while trying this config example, I get
[code]
Seems like it is not optional?

[2022-05-17 21:06] evoxmusic commented on #119
Indeed, Transformers must be optional. A workaround until it's fixed would be to set a transformer targeting a non-existent column.

[2022-05-18 08:37] bonflintstone opened #120 "Postgres dumps can't work with azure databases because the username contains an @"
On azure the usernames of postgres databases are of the form `user@db-something`. Adding this to a connection uri leads to something like:
`postgres://user@db-something:password@azure-host:5432/project_production`
To make this work directly with `pg_dump` or `psql`, one has to escape the `@` in the username with percentage encoding, leading to an uri like:
`postgres://user%40db-something:password@

[2022-05-18 08:47] evoxmusic commented on #120
Can you please add a description with a way to reproduce the issue?

[2022-05-18 08:54] bonflintstone commented on #120
Yes, sorry. I accidentally created it before I was done. I hope I have added all the information you may need, but let me know if there is more I can do. I looked at the code briefly, but since I don't know rust I don't think I can contribute substantially.

I think perhaps a decent unit test for my use case would look something like:
[code]
or, if it seems easier to support percentage escaping in

[2022-05-18 14:42] magnusja opened #122 "Feature request: dump a specific schema and then restore to another schema"
I would like to dump a specific schema (of a postgresql) database and then restore it to another schema.

[2022-05-18 17:37] ederski opened #123 "Syntax error in output from `replibyte -c replibyte.yaml dump restore local -v latest -o`"
I created a dump with `replibyte dump create` and then ran `replibyte dump restore local -o` to restore to a local `.sql` file (following https://www.replibyte.com/docs/guides/restore-a-dump#in-a-file). When I tried to restore the outputting dump to my local postgres database, I found that the dump file had a syntax error in the function definitions.

The function `deal_contact_created_trigger_fn`

[2022-05-18 18:16] evoxmusic commented on #123
I'll take a look this weekend. If someone can sooner, happy to skip fixing this one 😁

[2022-05-18 22:07] evoxmusic commented on #92
Does the issue is fixed for you @prashantcloudsufi ?

[2022-05-19 03:30] prashantcloudsufi commented on #92
No , still i am facing the same issue.

[2022-05-19 09:11] rampuikoy opened #124 "How to skip or fix the "thread 'main' panicked at 'TokenizerError""
Now I'm facing with this issue at the beginning and cannot move on from this step. Please help!

`failing query: '
CREATE TABLE `external_account_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_id` int(11) NOT NULL,
  `payment_id` varchar(45) NOT NULL,
  `payout_id` varchar(45) NOT NULL,
  `amount_allocated` decimal(10,0) DEFAULT NULL,
  `modified` datetime DEFAULT NULL,
  `

[2022-05-19 10:47] victorgomezg93 opened #125 "mongo dump not working, terminal without output"
Hi, and thank you really much for your efforts. I'm trying to make an anonymous dump using replibyte and a mongo database but I think is not working as expected. I have my conf.yaml, really simple just to avoid interactions and I'm doing everything locally to avoid mistakes.

**conf.yaml**
[code]

But everytime I run `replibyte -c conf.yaml dump create ` I have no answer in the terminal, sometimes

[2022-05-19 11:04] fabriceclementz commented on #125
Hi @victorgomezg93
I'm not sure "." is actually a valid value for the `dir` parameter. (I will verify tonight)

Could you try to create a directory and dump into it ?

ex:

[code]

and update your config file accordingly like this:

[code]

Thx for your interest in this project.

[2022-05-19 11:21] victorgomezg93 commented on #125
Hi, thank you for your assistance, I tried with different locations, also with relative and absolute paths, that's why I thought it has to be easier using only the "."

using this configuration is not working
[code]
and if you can see I have a directory called store

![Screenshot 2022-05-19 at 13 11 20](https://user-images.githubusercontent.com/45047366/169280911-b565f142-3276-431f-8233-5333b39203

[2022-05-19 13:08] benny-n commented on #125
Hi @victorgomezg93 !
Could you make sure that you have all of the relevant mongo binaries installed?
To verify, running `mongo --version` should yield:
[code]
And running `mongodump --version` should yield:
[code]

[2022-05-19 19:04] fabriceclementz commented on #119
I will fix that

[2022-05-19 19:50] fabriceclementz commented on #125
@victorgomezg93 maybe we can have more informations if you run it with `RUST_LOG=debug replibyte ...` ?

[2022-05-19 21:30] #119 closed

[2022-05-19 21:35] evoxmusic commented on #124
@rampuikoy can you give more details on how to reproduce the error?

Do you have:

1. a dump to share
2. the conf yaml you use
3. the command you ran

Thanks

[2022-05-19 21:42] #97 closed

[2022-05-19 21:58] #120 closed

[2022-05-19 23:14] wtait1-ff commented on #97
Woooh the post-release image build [succeeded](https://github.com/Qovery/Replibyte/runs/6515745039?check_suite_focus=true#step:5:2586), and I see the repo lists 1 package - but I can't view it in Github or `docker pull` it.

My guess is the package was created with "private" visibility? In my test repo the package got created automatically with public visibility, so maybe there's some difference b

[2022-05-20 04:46] evoxmusic commented on #97
I can take a look

[2022-05-20 06:12] evoxmusic commented on #97
And now?

[2022-05-20 07:43] diceride commented on #109
I'm working on this.

[2022-05-20 08:21] bonflintstone commented on #120
Thanks for the quick fix! That was actually amazing.

[2022-05-20 10:06] victorgomezg93 commented on #125
Hi @fabriceclementz it was a problem with dependencies I think, once I installed mongo community edition (I was using mongosh) seems working, is creating two files (1.dump 2.dump)

But anyways I think I can't use the transformer option because when I use cat in these files is showing a 0 bytes transfer and I think is related to this https://github.com/Qovery/Replibyte/issues/100

![image](https://

[2022-05-20 10:07] #125 closed

[2022-05-20 10:09] benny-n commented on #125
Hi @victorgomezg93 , was the dump file you are using dumped by `mongodump` with `--archive` flag?

[2022-05-20 10:11] victorgomezg93 commented on #125
Yes @benny-n  this option in concret: ```mongodump -h 127.0.0.1 --port 27017 --db corporate_development --archive```

[2022-05-20 10:13] benny-n commented on #125
I see that you're using .../*, are you trying to cat multiple files?
replibyte's dump-parser expects only one input file that was dumped using the --archive flag.

[2022-05-20 10:57] victorgomezg93 commented on #125
You guys rocks @benny-n @fabriceclementz

I tried what you said about the dump and totally true, is working now, really appreciate your help guys. Thank you a lot for your time!

[2022-05-20 14:53] #95 closed

[2022-05-20 14:54] evoxmusic commented on #108
@fabriceclementz can we close this one?

[2022-05-20 15:19] fabriceclementz commented on #108
I have not implemented this for now but I can make some progress on it this week-end @evoxmusic.

[2022-05-20 15:45] #100 closed

[2022-05-20 16:20] wtait1-ff commented on #97
[code]

Looking good!! 🚀 🐳

[2022-05-21 14:29] benny-n commented on #56
@evoxmusic
I think this one can be closed, the macOS build succeeds consistently now and it looks like the homebrew release succeeds as well 🙂

[2022-05-21 14:29] #56 closed

[2022-05-21 14:44] evoxmusic commented on #56
🔥

[2022-05-22 09:17] evoxmusic commented on #123
@ederski can you share with me your original and complete function `deal_contact_created_trigger_fn`? Then I will be able to write a correct a unit test. Thx

[2022-05-22 21:48] #108 closed

[2022-05-23 06:46] fabriceclementz commented on #108
Hi @evoxmusic
Thx for merging :) I've seen you created a 0.8.0 release but the version in cargo.toml file is not updated.
I think today you're creating the releases directly from the Github UI?

Could you try to create it using `./release.sh {old_version} {new_version}`, `old_version` must match the actual version present in the cargo.tom file so for example, for creating a 0.8.1 release now shoul

[2022-05-23 06:52] evoxmusic commented on #108
Thx for the explanation @fabriceclementz . It's done now :)

[2022-05-25 07:45] evoxmusic commented on #123
Thank you @ederski  - I take a look ASAP this week :)

[2022-05-25 10:27] marigbede opened #134 "thread 'main' panicked at 'called `Option::unwrap()` on a `None` value'"
It seems that replibyte is having some issues with **None** values in the database. Is there a workaround for this?

`thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', replibyte/src/source/postgres.rs:288:48
stack backtrace:
   0: rust_begin_unwind
             at /rustc/7737e0b5c4103216d6fd8cf941b7ab9bdbaace7c/library/std/src/panicking.rs:584:5
   1: core::panicking::panic_

[2022-05-25 12:14] evoxmusic commented on #134
Hi @marigbede , thanks for the report. Can you reformat your yaml conf file?

[2022-05-25 14:24] marigbede commented on #134
@evoxmusic Thanks for picking this up. Please see this attached file.

[replibyte.txt](https://github.com/Qovery/Replibyte/files/8771968/replibyte.txt)

[2022-05-25 19:22] diceride opened #135 "MongoDB can not connect to shards or SSL Atlas"
The [MongoDB connection string URI](https://www.mongodb.com/docs/manual/reference/connection-string/) is a format that defines connections between applications and MongoDB instances. MongoDB utilities parse the connection string URI using the Golang [mongo-driver/x/mongo/driver/connstring](https://pkg.go.dev/go.mongodb.org/mongo-driver/x/mongo/driver/connstring) library.

**Observed behavior**

Th

[2022-05-25 19:26] evoxmusic commented on #134
Thx, here is the content

[code]

[2022-05-26 10:11] koolay opened #136 "Failed to parse mysql with "Unterminated string literal""
`Unterminated string literal`

[code]

[2022-05-26 10:20] odealmervea opened #137 "Errors"
1)docker: Error response from daemon: create $(pwd)/examples: "$(pwd)/examples" includes invalid characters for a local volume name, only "[a-zA-Z0-9][a-zA-Z0-9_.-]" are allowed. If you intended to pass a host directory, use absolute path.
See 'docker run --help'.

2)thread 'main' panicked at 'missing config file: Os { code: 2, kind: NotFound, message: "No such file or directory" }', replibyte/src

[2022-05-26 10:54] odealmervea opened #138 "RUST_BACKTRACE=1, thread 'main' panicked at 'missing config file: Os { code: 2, kind: NotFound, message: "No such file or directory" }',"
1)docker: Error response from daemon: create $(pwd)/examples: "$(pwd)/examples" includes invalid characters for a local volume name, only "[a-zA-Z0-9][a-zA-Z0-9_.-]" are allowed. If you intended to pass a host directory, use absolute path.
See 'docker run --help'.

2)thread 'main' panicked at 'missing config file: Os { code: 2, kind: NotFound, message: "No such file or directory" }', replibyte/src

[2022-05-26 10:54] #137 closed

[2022-05-26 12:20] marigbede commented on #134
@evoxmusic  its looking as if the code crashes when NONE is encountered in the database. Is this the same experience you have?

[2022-05-26 19:54] Tchoupinax commented on #138
Hello @odealmervea,

I had the same issue with using the local datastore and it is solved by upgrading to v0.8.3. I think there was a bug which is solved by the last merged PR.

Hope it will help you,
Have a nice day.

[2022-05-26 21:06] Tchoupinax commented on #122
Hello,
I think I also need this feature because when I want to restore my data, I got an error because "I have to be the owner of the schema".
+1

[2022-05-27 08:17] DeaeLunae commented on #136
As best I can tell, this happens when replibyte hits a value that has a semicolon in it, based on my current issues.

[2022-05-27 08:31] koolay commented on #136
It is about the keyword of `comment`.

[2022-05-27 08:32] evoxmusic commented on #136
Hi, thanks for reporting. I will take a look ASAP (this weekend hopefully)

[2022-05-27 13:04] koolay commented on #136
@evoxmusic

I works now after removing the comment of table.

[2022-05-28 20:36] fabriceclementz commented on #69
Hi @benny-n

I looked at the `dump_header` and `dump_footer` functions and they can't work with MySQL as the dump format is not the same as for PostgreSQL.

In Postgres, we have all the `CREATE TABLE` statement first, then INSERT INTO and ALTER TABLE.

For MySQL, we have:

- CREATE TABLE (which contains the constraints to extract from which we can extract foreign keys)
- INSERT INTO corresponding

[2022-05-29 16:58] evoxmusic commented on #138
Hi, I am going to take a look ASAP

[2022-05-29 16:59] evoxmusic commented on #138
Can you check if your issue is solved? Thx

[2022-05-29 20:21] evoxmusic commented on #136
Hi @koolay I think this PR will fix this issue https://github.com/Qovery/Replibyte/pull/141

[2022-05-30 05:06] odealmervea commented on #138
Unfortunately, the problem is not solved.

[2022-05-30 05:51] odealmervea commented on #138
****
'replibyte' is not recognized as an internal or external command,
operable program or batch file.'replibyte' is not recognized as an internal or external command,
operable program or batch file.

I'm getting this error

[2022-05-31 20:01] fabriceclementz opened #143 "Transformers are broken for MySQL"
Transformations are not applied for MySQL as the table name is parsed as a SingleQuotedString token and the actual logic search for a Word token.

[2022-06-01 11:32] lalitpagaria opened #145 "A way to pass pg_dump params like clean, data_only etc for backup"
Ref [LI comment](https://www.linkedin.com/feed/update/urn:li:activity:6932050062533382144?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6932050062533382144%2C6932199520491442177%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A6932050062533382144%2C6932365612845326336%29)

[2022-06-01 11:33] lalitpagaria opened #146 "Ability to connect DB via SSH tunnel and SSL specially Postgresql"
It will make Replibyte easy to use via Github actions and we can run it outside of the DB network env

[2022-06-01 21:39] #143 closed

[2022-06-02 13:36] victorgomezg93 opened #147 "Docker image not working"
Hi, I'm trying to run the docker image to test just following the guide:

[code]

I'm doing it in Ubuntu 20.04 and when I try to make the docker run I have this error:
[code]

Maybe some package is missing? If I make the installation from source or from linux the same message appear.

Thank you very much for your help

[2022-06-02 18:21] fabriceclementz commented on #147
Hi @victorgomezg93
I think you should use the official image here so you don't need to build it locally (available since https://github.com/Qovery/Replibyte/pull/128),

Here is a working example assuming you have a config file named `replibyte.yaml`, this example show you how to mount a volume `datastore` via ` -v "$(pwd)/datastore:/datastore" \`, this line is optional if you're using S3 for examp

[2022-06-02 18:23] fabriceclementz commented on #138
Hi @odealmervea
Maybe this can help you ? https://github.com/Qovery/Replibyte/issues/147

[2022-06-02 19:23] fabriceclementz opened #150 "Feature: add options to dump specific tables"
As we discussed on Discord, it will be great to have some options to dump specific tables.
By adding a new option `only_tables` RepliByte will only dump these tables.

This is an example of the final config file:

[code]

Here only the tables named `us_states` and `order_details` must be included in the dump.

An error must be triggered if a table is present  in `skip` and `only_tables` when both

[2022-06-02 21:07] betoflakes opened #151 "Process Killed after random amount of time"
This is my command and killed after some time.

<img width="1063" alt="CleanShot 2022-06-02 at 16 05 15@2x" src="https://user-images.githubusercontent.com/1946702/171738278-de11ab69-58ed-4c1b-9687-bbbcdd433cd4.png">

[2022-06-02 21:53] #123 closed

[2022-06-02 21:53] #136 closed

[2022-06-02 23:34] marigbede commented on #134
So @evoxmusic I have bene able to trace this back here https://github.com/Qovery/Replibyte/blob/a8c56df6e1277e7eadf0806105de995c7fd4d809/replibyte/src/source/postgres.rs#L289.

From the tests that I performed showed that even without the transforms config, the issue still occurs.

[2022-06-03 17:58] evoxmusic commented on #151
Hi @betoflakes , can you please give more details on your config.yaml and your replibyte version?

[2022-06-04 20:24] evoxmusic commented on #150
As discussed, it looks good to me. It's a valid use case when a user only needs to backup a couple of tables.

[2022-06-07 07:52] victorgomezg93 commented on #147
@fabriceclementz  I think I have the same problem with the official image, I've used docker run with the datastore volume and without but if you see there is a "No such file or directory (os error 2)" in the last line like with the other image.
![image](https://user-images.githubusercontent.com/45047366/172326078-29f103ef-4f86-4106-8f32-b246bf45abb7.png)

[2022-06-07 10:57] fabriceclementz commented on #147
I will try to reproduce asap @victorgomezg93

[2022-06-08 07:24] koolay opened #158 "[BUG]TokenizerError message: "Unterminated string literal" when dump mysql"
**Replibyte version is 0.8.6.**

[code]

[2022-06-08 13:51] victorgomezg93 commented on #147
Hi @fabriceclementz I'm trying to make it run from local in the ubuntu to check issues. Can maybe be related with the uri? I don't have user and password created in the mongo database maybe that's why is failing.

I have been using in source and destination
[code]

and the error message is
[code]

So I created a new user and password to check if maybe the problem was the absence of this but is not

[2022-06-08 18:23] fabriceclementz commented on #147
Thx @victorgomezg93
It looks like this PR https://github.com/Qovery/Replibyte/pull/154/files is the problem as the `--uri` and `--authenticationDatabase` are used together. I take a look and make a fix.

[2022-06-08 19:48] wtait1-ff opened #159 "Create `replibyte debug` command"
## Proposal

It seems to be a common theme that when bug reports / help issues are filed, the author is asked for certain info like

- `replibyte` version
- contents of config file

It would be helpful for people both authoring + triaging issues if a user could run a command like `replibyte debug` that would collect all that useful info automatically. Then they would just need to copy that output

[2022-06-08 20:17] evoxmusic commented on #159
It makes total sense to me and will help troubleshoot issues and even build a reproducible environment. Do you think you can propose a PR for this?

[2022-06-08 20:30] evoxmusic commented on #159
💯 , you can inspire yourself (or even re-use) [this part](https://github.com/Qovery/replibyte/blob/main/replibyte/src/telemetry.rs#L74-L147) from `telemetry.rs` that is anonymizing sensitive data from `conf.yaml`.

[2022-06-08 21:47] michaelgrigoryan25 opened #161 "tokio: replace custom blocking tokio calls, with native tokio::runtime::Handle::block_on"
Hi, hope you are doing well. I noticed that replibyte uses a custom function and a runtime for getting some values that need to be awaited. We can completely remove the code in [runtime.rs](https://github.com/Qovery/Replibyte/blob/main/replibyte/src/runtime.rs) since tokio gives us the ability to do the same thing natively via [tokio::runtime::Handle::block_on](https://docs.rs/tokio/latest/tokio/r

[2022-06-09 16:15] spatail commented on #134
I am running in to the same error when attempting to dump data from Postgres to S3 with no transformers.

My config file:
[code]

I am starting Replibyte using Docker:
`docker run -it --rm -v "$(pwd)/replibyte.yaml:/replibyte.yaml:ro" replibyte -n --config replibyte.yaml dump create`

The stacktrace:

[code]

[2022-06-10 09:50] marcoacierno opened #164 "Access to the whole row in custom transformers"
I am building custom transformers to transform some of our data

The problem I am having is that inside the transformer I only have access to the column value, and nothing else, which makes it impossible for me to have transformers that change the value depending on something else.

One example I have is I want to anonymize users unless they are staff users. I can do it easily with emails ([replib

[2022-06-10 09:58] evoxmusic commented on #164
Hi Marco, it's a valid use case and I am eager to provide an implementation to support it. I can't promise that I can take a look at it this weekend but I will try.

[2022-06-11 00:07] ederski opened #166 "Error on dump: "Unterminated string literal""
Hi, I'm using replibyte with Postgres and GCP. When I run `replibyte dump create`, the script panics with the error:

I previously saw this issue before, but it was fixed here: https://github.com/Qovery/Replibyte/issues/94. I was able to create a dump after that, but now I'm seeing the error again.

Happy to provide the specific failing query over email!

[2022-06-11 07:05] evoxmusic commented on #166
Hi @ederski , to be sure it's (or not) a regression, can you share with me the part of your dump that is failing here?

[2022-06-12 06:38] evoxmusic commented on #161
Hi @michaelgrigoryan25 , thank you for your proposal and the great work you made here. My only concern is all the complexity this change would add for a small benefits. Can you summarize the pros and the cons of this change?

[2022-06-12 06:40] evoxmusic commented on #158
Hi @koolay , can you give me the complete SQL query to reproduce the error on my end and provide a fix? Thx

[2022-06-12 06:41] evoxmusic commented on #147
@victorgomezg93 can you confirm your problem is solved?

[2022-06-12 07:44] michaelgrigoryan25 commented on #161
There are no cons to this PR. Not that I can think of :slightly_smiling_face:

1. The code actually becomes less complex, since we do not need another file where we would initialize tokio's runtime. All initialization will be done by the `#[tokio::main]` macro, which will expand at compile time and provide async capabilities right out of the box.
2. Code becomes easier to read. In an `async fn` we

[2022-06-12 15:31] marcoacierno commented on #158
I think I am getting the same error, just on postgres

[code]

This is the last query it prints before throwing the error:

[code]

I removed the text, but what followed was a long string with newlines

The selected text from postgres looks like this:

[code]

(replaced content )

[2022-06-13 16:58] ederski commented on #166
@evoxmusic Sent you a DM :)

[2022-06-14 13:10] marigbede commented on #134
Hi @evoxmusic any updates on this?

[2022-06-14 17:46] fabriceclementz commented on #134
Hi @evoxmusic and @marigbede
I will try to take a look this week

[2022-06-14 20:23] fabriceclementz commented on #134
Hi @marigbede and @spatail
Can you share with us the part of the dump that fails? I'd like to reproduce this bug to confirm the fix provided in #167 is correct.

[2022-06-14 20:34] evoxmusic commented on #134
Hi @marigbede @spatail - if you can share your dumps with @fabriceclementz it will help a lot 👍🏽

[2022-06-15 10:39] #147 closed

[2022-06-15 11:30] michaelgrigoryan25 commented on #138
@odealmervea, do you still have this issue? If so, can you set `RUST_BACKTRACE` to `1` in the environment variables, or the command-line, and run the application again, so that we can debug this?

[2022-06-15 18:51] spatail commented on #134
FYI, I copied the fix into my local workspace, rebuilt the docker image, and was able to run it successfully.

However, now I am noticing that after it dumps one file (`1.dump`), the progress is stuck:
<img width="1153" alt="stuck progress" src="https://user-images.githubusercontent.com/3813215/173897461-ccc48e70-a359-4b05-a265-6c2b29fbc379.png">

I have attempted this a few times now and it alway

[2022-06-15 22:13] spatail commented on #134
Upon inspecting the dump file, I see data from both schemas. However, it looks like the dump is just incomplete, i.e. there should be multiple dump files, but only one file is ever written to S3.

The database at the moment is ~ 1GB in size. Could the progress stoppage be related to data size?

[2022-06-18 06:14] evoxmusic commented on #166
HI @ederski , I looked at your query failing and it is another query that is failing to be correctly parsed by our Tokenizer. I am going. to try to reproduce it and provide a fix. I keep you posted

[2022-06-18 06:35] evoxmusic commented on #158
@koolay @marcoacierno can you give me the complete query that make crashing replibyte? It will help to reproduce it and provide a fix 🙏🏽

[2022-06-18 06:39] evoxmusic commented on #158
@koolay this query is not complete:

[code]

Can you give me the complete query (I think there are missing fields at the end). Thank you

[2022-06-19 14:15] evoxmusic commented on #151
Hi, please feel free to re-open it if it still happens and have more details. Thank you

[2022-06-19 14:15] #151 closed

[2022-06-19 14:16] evoxmusic commented on #146
Hi @lalitpagaria , it makes total sense to me. I will keep this feature request open and see if someone can take it. (I will in the future otherwise).

[2022-06-21 06:08] evoxmusic commented on #166
@ederski I dm'ed you on Discord :)

[2022-06-25 20:25] evoxmusic commented on #158
I close this issue until you can give a query to reproduce this issue.

[2022-06-25 20:25] #158 closed

[2022-06-25 20:26] evoxmusic commented on #135
Hi @diceride , can you confirm it's all good for you?

[2022-06-25 20:27] evoxmusic commented on #135
I close this issue - feel free to re-open it if it's not the case :)

[2022-06-25 20:27] #135 closed

[2022-06-25 20:28] evoxmusic commented on #166
Hi @ederski , I've tried today to reproduce the issue with the 2 queries that you shared to me and no luck. It's working perfectly fine. Can you try to create a full dump with synthetic data to reproduce the bug? There is probably a succession of special characters making leading to this TokenizerError :(

[2022-06-25 20:29] evoxmusic commented on #159
Hi @wtait1-ff , let me know if you need any help 👍🏽

[2022-06-27 13:47] evoxmusic commented on #164
Hi @marcoacierno , I started working on your request. I keep you posted when the PR is created :)

[2022-06-28 12:58] paragkapoorcs opened #169 "Unterminated string literal"
When I create dump, it throws below error:

failing query: 'SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '01442b0f-35da-11eb-8f59-42010ac08011:1-3021439,
1a9e63ac-f93b-11ea-993b-42010ac0800c:1-3522425,
495cffe7-186d-11ea-9edd-42010ac08004:1-3453837,
841d3d46-659a-11eb-a0ba-42010ac08014:1-19157597';'
thread 'main' panicked at 'TokenizerError { message: "Unterminated string literal", line: 1, col: 11 }',

[2022-06-29 15:15] naudiyal30 commented on #169
Resolved

[2022-06-30 04:47] evoxmusic commented on #169
Thank you I am going to take a look

[2022-06-30 10:01] ronzyfonzy opened #170 "Unexpected EOF while in a multi-line comment"
I tried Replibyte today and got to an issue. When creating a dump I get the following error
[code]

The config file
[code]

[2022-07-05 21:16] davidbruce opened #173 "pg_dump dir (-Fd) support and parallel jobs (-j) support"
Would it be possible to implement functionality to support parallel dumps and restores?

pg_dump:

--jobs=njobs
Run the dump in parallel by dumping njobs tables simultaneously. This option may reduce the time needed to perform the dump but it also increases the load on the database server. **You can only use this option with the directory output format because this is the only output format where

[2022-07-05 21:21] evoxmusic commented on #173
It sounds like you must dump the output in a directory, drastically affecting I/O disk performance depending on where Replibyte is launched. (Plus, you need free disk space = to the database size). Can  you give more context why you suggest to support parallel dumps and restores?

[2022-07-06 15:31] mkgharbi opened #174 "Transformers don't work with tables containing uppercase letters"
Hi

Transformers are not working correctly with tables containing uppercase characters (in my case a table named **User**).
When I renamed the table to **user**, it worked perfectly.
Is there a solution to make uppercase table names work on transformers ?

The conf.yaml file I used is:
[code]

[2022-07-06 16:41] GeekOnCoffee opened #175 "Support subset by collection of IDs"
We want to be able to generate a subset for a specific set of ids and their relationships, not a random collection.

[2022-07-07 01:32] GeekOnCoffee opened #176 "Add output formatter option for streaming log system"
We use a log system for the server that we're going to deploy replibyte, and the progress bar doesn't show up in our logs, so we've got no indication that it's working. Would be ideal to be able to pick a different log format (for example something which prints incremental updates, rather than rewriting the screen)

[2022-07-07 06:31] evoxmusic commented on #176
I agreed - it's something we can definitely add 👍🏽 - I put this as a feature request.

[2022-07-07 06:32] evoxmusic commented on #175
It makes sense, it's what we call the Select Strategy that we need to implement. Today only the Random Strategy is available.

[2022-07-07 18:28] renehernandez opened #177 "Apply transformers against source database directly"
As the title said, it would be a neat feature to provide the capabilities of running the transformers against the existing database without generating a dump first.

For my use case, my source database is a daily RDS instance with a copy of our production data (restored from a snapshot) and I want to sanitize the data within the RDS instance without having to go through the full dump process

[2022-07-10 20:33] crummy commented on #164
I'm interested in this for concatenating fields - e.g. transform user id 12, first name 'john', last name 'smith', to user id 12, first name 'first12', last name 'last12'.

[2022-07-11 09:32] millsoft commented on #146
most of our dbs are private and we need to use ssh to be able to connect to that server.
It would be cool if Replibyte could connect to a db via ssh tunnel.
Before such a feature gets implemented, we could probably start the tunnel manually first and then run Replibyte.

[2022-07-11 16:08] karpa4o4 commented on #150
Hi @evoxmusic
I would like to work on this issue. I'd appreciate it if you could give me some instructions.

[2022-07-11 16:28] evoxmusic commented on #150
Hi @karpa4o4 I'm in transit but I'll give you some details on what is expected

[2022-07-11 22:30] evoxmusic commented on #177
It's a valid use case however it drastically changes the way Replibyte works. I need to see with the community it's a direction that we want to take.

[2022-07-12 01:02] evoxmusic commented on #174
Can you give more details on which database do you use?

[2022-07-12 05:14] ShawshankLin opened #179 "Support redis？"

[2022-07-12 08:49] benny-n commented on #179
As opposed to the other databases we support (PostgreSQL, MySQL, MongoDB) it seems that Redis has no official dump and restore tools (please correct me if I'm wrong here).

However, I did find this tool: https://github.com/delano/redis-dump
Which allows to dump the DB into a JSON file and then restore it from that JSON.
This tool is exactly what would be needed to support Redis.

The problem is th

[2022-07-12 12:12] karpa4o4 commented on #150
@evoxmusic, can you help me with the question above?

[2022-07-12 18:00] danstewart opened #180 "MySQL parser fails on escaped quotes"
The MySQL dump parser seems to struggle with escaped quotes in the dumped output.
The dump command exits successfully but restoring the dump shows it's not worked as expected.

#### Example dump
[code]

#### Config
[code]

#### Steps to reproduce
[code]

[2022-07-12 22:45] DoctorOgg opened #183 "question, is it possible to specify the pg_dump version to use, eg via path"
Just taking at look at this and ran into this issue, I have multiple versions of pg_dump installed, would it be possible to set this in the config?

thanks

[code]

[2022-07-13 06:41] naudiyal30 opened #184 "Process killed after some time"
Process killed after some time while taking the backup (11 GB in total) into the GCP bucket but when I try this on small database (less than 20 mb) for testing, it works like charm. Can you please look into this?

Command I have used for taking the backup : **replibyte -c replibyte.yaml dump create**

[2022-07-13 12:19] b3nk3 commented on #169
Hi there, I am getting the same error message on various databases/tables.

my deduction is that when a `;` [semicolon] is used in a field, that throws the Tokenizer

[2022-07-14 02:13] manibatra opened #186 "Unterminated string literal"
I seem to be getting the following error :

[code]

when the column statement in a `CREATE TABLE` query ends with a `'` and does not have a `,`. So the following does not work :
[code]
while the following works :

[code]

I am running the following command :
[code]

[code]

[2022-07-14 02:18] evoxmusic commented on #186
It's definitely a bug. Thanks for reporting it. I am going to provide a fix

[2022-07-14 15:10] mkalioby commented on #83
Hello guys,

Is this one released?

[2022-07-14 15:13] evoxmusic commented on #83
Yes https://www.replibyte.com/docs/datastores#local-disk

[2022-07-14 15:21] mkalioby commented on #83
Thanks

[2022-07-14 16:32] timkrins commented on #169
Also coming across this when a `;` is used inside a column value with MySQL.

Seems problem is inside `dump-parser/src/utils.rs` in `list_statements`.

Here is a test input (a JSON string containing a single-quote and a semicolon) that causes a failure:
[code]

So either `list_statements` needs to change or there needs to be different escaping before calling this calling function as far as I can t

[2022-07-14 16:57] nik-lampe opened #189 "Creating dump for MySQL database is very slow with"
I've ran into an issue while creating a dump of my mysql database. The dump command runs for such a long time that at some point I cancelled it. Don't know if it ever finishes.

I tried to hunt down the problem and came up with a minimum reproducable mysqldump of one table with 5 columns and ~3500 Rows. The dump size is 219kb. As soon as I remove another column (doesn't even matter which one), the

[2022-07-14 17:49] evoxmusic commented on #189
Hi @nik-lampe - thanks for reporting this issue. I am going to dig into it and see what happen ASAP. I'd appreciate to have some help here :)

[2022-07-14 22:59] manibatra opened #190 "Unexpected EOF while in a multi-line comment"
I am getting the following error :

[code]

So the following does not work :
[code]

I am running the following command :
[code]

[code]

[2022-07-15 05:15] nik-lampe commented on #189
I am currently trying to dig into it, but I have trouble with understanding Rust. 😀

I managed to narrow down the dump even further.

Now there is only one row with "Samsung Galaxy A12 Weiß" for the item_name column.
The others have NULL.

The Dump does succeed, but it takes a few seconds (around 12 on my Apple M1 Max system).

If you remove just the string "Weiß" -> it's almost instant.
If you re

[2022-07-15 05:30] nik-lampe commented on #189
Maybe my dumpfile is corrupt

[2022-07-15 05:40] nik-lampe commented on #189
No, that was not it.

But here ist the smaller dump:

[slow-replibyte-smaller.sql.txt](https://github.com/Qovery/Replibyte/files/9118145/slow-replibyte-smaller.sql.txt)

[2022-07-15 05:43] nik-lampe commented on #189
No, that was not it.

But here ist the smaller dump:

[slow-replibyte-smaller.sql.txt](https://github.com/Qovery/Replibyte/files/9118149/slow-replibyte-smaller.sql.txt)

[2022-07-15 05:58] nik-lampe commented on #189
I printed out the queries.len() In the full_dump.rs FullFumpTask implementation.

With the the "ß" row in the above dump it's 3376 entries.
Without the "ß" row it's 2192 entries.

That's kinda weird.

[2022-07-15 11:46] karpa4o4 opened #191 "Error while restoring mysql dump"
![Screenshot_20220715_144244](https://user-images.githubusercontent.com/33448939/179216761-8630de47-f2fb-431b-a26a-c4c30aa3b88e.png)

I managed to fix this error with the following edit.
![Screenshot_20220715_144531](https://user-images.githubusercontent.com/33448939/179217015-d194c7df-8e8d-47f1-ac9f-3cb28a0a0065.png)
https://github.com/Qovery/Replibyte/blob/main/replibyte/src/destination/mysql.rs

[2022-07-15 11:51] evoxmusic commented on #191
Hi @karpa4o4 do you run the latest version of Replibyte? Can you open a PR with a fix?

[2022-07-15 11:54] karpa4o4 commented on #191
This is latest version. Yes I can.

[2022-07-15 13:03] ashih42 opened #193 "Error: INSERT INTO happened before CREATE TABLE while creating table_stats structure"
Hello, I am trying to create a dump from a postgres database to local disk.

replibyte 0.9.2
psql (PostgreSQL) 14.4
macOS Monterey version 12.4
Macbook Pro M1, 2020

I ran `RUST_BACKTRACE=full replibyte -c conf.yaml dump create` with the following config file:
[code]

I got the following error and stacktrace:
[code]

What does this mean?

[2022-07-15 14:50] evoxmusic commented on #193
Is it possible to have the part of your dump that brings to this error?

[2022-07-15 15:03] eleijonmarck opened #194 "feat(database): sqllite support"
Hey love the product,

Is there a plan to support sqllite databases?

[2022-07-15 15:05] evoxmusic commented on #194
Hi @eleijonmarck , feel free to add an implementation to support SQLite - I do think it will not be too complex. You can take a look at the way PostgreSQL or MySQL have been implemented.  https://github.com/Qovery/Replibyte/tree/main/dump-parser/src

[2022-07-15 17:18] eleijonmarck commented on #194
hmm , i might be interested. Need time :D

if so; will probably take a stab using https://github.com/Geal/nom

[2022-07-16 00:28] evoxmusic commented on #194
Let me know if you need help here :)

[2022-07-16 18:07] karpa4o4 commented on #174
Hi @evoxmusic. I have tested and this problem is only in PostgreSQL. This is because PostgreSQL requires wrap table names in quotes if they contain uppercase characters.
A simple solution to the problem is to wrap the table name in quotes (as in the screenshot), in which case I can reflect this behavior in the documentation.
![Screenshot_20220716_210613](https://user-images.githubusercontent.com/3

[2022-07-16 18:08] karpa4o4 commented on #174
A more complex solution is to implement automatic quotes when creating a dump for PostgreSQL.

[2022-07-18 19:06] q8webmaster commented on #186
I had passed this issue with release v.0.8.0. Tried with the latest 3 releases and they have the same issue.

[2022-07-18 20:02] deedubs opened #196 "feat(datastore): Allow configuring `root_key`"
**Use case:**
We have several source databases we want to manage dumps of using replibyte.  While we can create a bucket for each, it would seem better organizationally if we could have `<bucket_name>/<root_key>/dump-....`.

Is this something you'd consider accepting a PR for?

[2022-07-20 09:05] #174 closed

[2022-07-21 07:16] ptrhck commented on #61
This would be really great! I would also like to know what is best practice on authentication, especially with AWS RDS.

[2022-07-21 07:19] evoxmusic commented on #61
Did you check out www.replibyte.com ?

[2022-07-21 08:01] ptrhck commented on #61
Yes, did I miss that section?

[2022-07-21 14:54] #180 closed

[2022-07-21 20:12] deedubs commented on #184
Replibyte streams the contents of your database to your local machine, runs the defined transforms and then uploads the result to the specified datastore.

Therefore there are many factors that could impact the time it takes to backup your database:
  - Bandwidth from the machine your running the process
  - Speed of the source database
  - Bandwidth to GCP

  If your process is being terminated a

[2022-07-21 20:58] zovt opened #200 "Replibyte appears "stuck" during export from Postgres"
Repost of my [Discord message](https://discord.com/channels/688766934917185556/952516115039408168/999727830898311260)

Hey all. We're trying to use `replibyte` to scrub some data, but unfortunately it appears to be getting stuck (for lack of a better word). I've run it under `strace`, and it looks like there are a bunch of read syscalls going on up until the point where it gets stuck. Happy to pro

[2022-07-21 21:00] evoxmusic commented on #200
Hi @zovt , thank you for reporting this issue. Do you have a dump with your syscalls? Can you provide me your replibyte config yaml to see which options you use? Thank you.

[2022-07-21 21:21] zovt commented on #200
config:
[code]

[syscalls.log](https://github.com/Qovery/Replibyte/files/9162851/syscalls.log)

I've snipped out the strings from the `read` calls, but the big block at the bottom look like data from a psql dump.

I invoked replibyte like this: `strace -o syscalls.log replibyte -c replibyte.conf dump create`

[2022-07-21 22:17] evoxmusic commented on #166
Hi @ederski , please re-open this issue if you still have the problem with the latest version. Thank you

[2022-07-21 22:17] #166 closed

[2022-07-21 22:20] evoxmusic commented on #193
Hi @ashih42 , the part of your dump causing this issue would be super helpful to reproduce this issue. 😊  🙏🏽

[2022-07-21 22:29] evoxmusic commented on #200
Do you have some details on your database? Size? Number of tables?

[2022-07-21 22:39] #186 closed

[2022-07-21 23:09] zovt commented on #200
Our database is around ~40GB in size, with ~10 tables (with the bulk of the data in one or two tables). Outside of that the only potentially "interesting" data that we're storing is some JSON in `jsonb` columns.

[2022-07-22 06:27] evoxmusic commented on #190
@manibatra can you show me your replibyte conf yaml?

[2022-07-22 06:39] manibatra commented on #190
Sure thing :
[code]

[2022-07-22 07:03] evoxmusic commented on #190
Fyi Replibyte has been updated a few hours ago. Couple of fix have been released for MySQL source connector. Can you check if this bug has been fixed with the latest version?

[2022-07-22 14:17] adithya321 commented on #190
Getting the same error in Postgres

[code]

`replibyte-conf.yaml`

[code]

[code]

[code]

[2022-07-22 18:02] karpa4o4 commented on #146
Hi @evoxmusic, can you assign this issue to me?

[2022-07-25 14:50] karpa4o4 commented on #146
Hi @evoxmusic. Tell me please, SSH tunnel is needed only for source db or for destination db too?

[2022-07-25 14:57] evoxmusic commented on #146
I think it will be great to support it for both. Wdyt?

[2022-07-25 15:02] karpa4o4 commented on #146
Yes, it will be helpful.

[2022-07-26 15:08] jeromewaibel opened #202 "Issues with documentation"
replibyte 0.9.5

---

https://www.replibyte.com/docs/guides/restore-a-dump says

replibyte -c conf.yaml dump restore local -d postgresql -v latest
-d parameter accepts mongodb, mysql and other databases supported by Replibyte.

while the parameter is -i / --image

---

https://www.replibyte.com/docs/getting-started/configuration says as an example

[code]

though it is

[code]

[2022-07-26 20:27] evoxmusic commented on #202
Ok thank you for reporting this issue 🙏🏽 - can you open a PR and I'll merge it?

[2022-07-27 10:20] timkrins commented on #109
I created myself a little Python script to give me a default configuration containing all the tables in my database.

https://gist.github.com/timkrins/ebfa00ce220439d7c3dbe2a309c1a426

It would certainly be handy to have this functionality built in.

[2022-07-27 10:26] evoxmusic commented on #109
Awesome @timkrins - I will take a deeper look but from what I see it's easily portable. Do you have in mind the limitations of what you did?

[2022-07-27 15:09] timkrins commented on #64
I also like the idea that fields without transformers defined are not output by default.
In my mind setting `output_fields_with_transformers_only: true` or `strict: true`.

[2022-07-27 18:38] ikrestov opened #204 "SQL Number parsing and column value extraction mismatch."
Negative numbers are tokenized as [Minus, Number] tokens, which is an issue because
`get_column_names_from_insert_into_query` and `get_column_values_from_insert_into_query`
start returning different number elements.

These 2 must always match on number of elements, or panic, as otherwise:
[code]
is wrong.

I have a patch for this that needs some work, as it affects both tokenezation and parsing.

[2022-07-28 11:20] #124 closed

[2022-07-28 11:20] #200 closed

[2022-07-28 14:26] Gaibhne opened #206 "Replibyte does not negotiate MySQL Server/mysqldump version/features"
While attempting to create a dump from an older database server with a modern mysqldump, I noticed Replibyte fails to negotiate supported features, and attempts to force dumping column statistics, which is the default for MySQL 8, but doesn't exist on older versions.

The correct path would be to ask the server whether `--column-statistics=1` is supported, and use `--column-statistics=0` if the se

[2022-07-28 16:45] #204 closed

[2022-07-29 08:24] adithya321 commented on #190
@evoxmusic v0.9.6 fixed the above issue 🎉 Thank you

[2022-07-29 19:08] davidbruce opened #208 "RDS PostgreSQL dump not ordered correctly preventing restore."
When I create a dump from a database over the network it does not order the dump properly. Because of this I am unable to restore the dump preventing me from using Replibyte.

Idea of what the dump.sql from Replibyte looks like:
[code]
Even the insert statements themselves are not ordered properly so I cannot simply move the DDL to the top of the file.

This isn't an issue with a database that is

[2022-07-29 19:15] davidbruce opened #209 "Cannot create a Replibyte dump from a PostgreSQL .dump or .sql file with --source_type postgresql --input --file"
I have attempted to work around https://github.com/Qovery/Replibyte/issues/208 by creating a manual dump file and then processing it with Replibyte.  This unfortunately does not work and it just spins forever.

[code]

I stepped through the Replibyte code and found following code in dump.rs: 170
https://github.com/Qovery/Replibyte/blob/7458882e10a100373e837544aca3aa916d013fa1/replibyte/src/command

[2022-08-06 20:40] evoxmusic commented on #209
Hi @davidbruce, thanks for reporting your issue and digging into it. Do you know the SQL line that makes your dump reading fail?

[2022-08-06 20:42] evoxmusic commented on #208
@davidbruce , can you show me your Replibyte config .yaml, please? Can you also confirm that you are using the latest version of Replibyte?

[2022-08-06 20:45] evoxmusic commented on #206
Thank you for reporting this issue.

I guess this is where we need to make the dump command overridable since we can't support all options.
I can keep you posted when this option will be added.

[2022-08-06 20:50] evoxmusic commented on #206
I have a workaround for you. You can exec the following command `mysqldump <your command> | replibyte -c conf.yaml dump create -i -s mysql` then you will be able to use replibyte with your specific mysqldump command and pipe the output to Replibyte with the `-i` parameter.

[2022-08-06 20:50] evoxmusic commented on #183
I think you can refer to [this issue](https://github.com/Qovery/Replibyte/issues/206) for a solution https://github.com/Qovery/Replibyte/issues/206

[2022-08-06 20:51] #183 closed

[2022-08-06 21:00] evoxmusic commented on #189
Hi @nik-lampe, can you try out a latest version of Replibyte and tell if it solves your issue?

[2022-08-06 21:01] #190 closed

[2022-08-06 21:02] evoxmusic commented on #179
I would prefer to have more upvotes for Redis before supporting it. At the moment it seems to be an isolated request. WDYT @benny-n @fabriceclementz ?

[2022-08-06 21:03] evoxmusic commented on #184
Hi @naudiyal30 @deedubs can you confirm it's all good with the #203 fix?

[2022-08-06 23:10] deedubs commented on #184
My issues were with mongodb. Cursory glance it doesn't look like that PR will have a material affect

[2022-08-07 05:39] fabriceclementz commented on #179
I don't think we should concentrate our efforts on redis at the moment, in my use cases and to my knowledge, redis is generally used more as a cache layer, session store or as a queue, hence the interest of using replibyte seems less to me. Let the community show interest in Redis support and describe its use cases first.

[2022-08-07 05:47] fabriceclementz commented on #117
Hi @evoxmusic
This is the next issue I will try to tackle, As COPY for Postgres, This will considerably improve the performance of Replibyte, I let you know my progress.

[2022-08-07 06:36] evoxmusic commented on #117
Thank you @fabriceclementz - it's definitely a must have improvement to increase restore performances. I am also looking how we can better bench and watch Replibyte performances

[2022-08-08 07:51] demamoh opened #210 "Tools"

[2022-08-08 07:52] #210 closed

[2022-08-10 01:15] cipher-code commented on #169
I can see a fix is merged to try to fix this issue, but I'm on the latest version and still get an issue with semicolons

Here is the SQL that triggers it:
[code]

The semicolon is right at the end, maybe the fix didn't capture it?

[2022-08-10 08:37] farisam opened #211 "Restore successful but no data and drop table when restore"
Hi guys, I just want to ask about replibyte restore dump, when I restore, always no data. and I tried also to restore to same database, it only drop cascade the db but the data is not there. can you help me?

[code]

[2022-08-10 19:49] evoxmusic commented on #211
Hi @farisam, I am not sure that the parameter `-v replibyte/postgres/restore/database_20220810082830` is the correct one. Can you run `replibyte -c conf.yaml dump list` to list all your available dump?

[2022-08-11 01:54] farisam commented on #211
hi @evoxmusic yes, the list are available

`root@ip-10-10-10-10:/replibyte/Replibyte/target/release/target/release# ./replibyte -c conf.yaml dump list
⠁
 name                                                                | size      | when           | compressed | encrypted
---------------------------------------------------------------------+-----------+----------------+------------+-----------

[2022-08-11 01:59] farisam commented on #211
and also when I check S3, the dump was created. and restore always successfully , but no data after restore.

[2022-08-18 19:10] DoctorOgg opened #215 "upload to s3 performance issues"
Trying to upload a 100G Postgres dump from an ec2 instance running in the same region as the bucket, the speed seems to be a bit slow. Using the AWS CLI I was able to upload the raw dump to the bucket in about 15Min. However, Replibye is now on its 2nd day running. Any ideas to speed up the process.

My config:

[code]

[2022-08-19 08:52] evoxmusic commented on #215
Thank you for reporting this issue. Obviously, it's not normal that RepliByte takes so long to copy your data on S3. I will try to reproduce this issue on my side and come back to you if I don't succeed.

[2022-08-23 04:41] Cluas opened #217 "postgres Column names do not match values"
[code]

[2022-08-23 06:10] Cluas commented on #217
query like this:
[code]

[2022-08-23 07:20] Cluas commented on #169
+1

[2022-08-23 09:29] Cluas opened #219 "TokenizerError Unterminated string literal"
error:
[code]
sql:
[code]

[2022-08-23 17:05] Cluas commented on #219
add test.sql
[test.sql.zip](https://github.com/Qovery/Replibyte/files/9407638/test.sql.zip)

[2022-08-23 17:56] Cluas commented on #219
DDL
[code]

DML
[code]

[2022-08-25 16:24] coderberry commented on #138
This issue is still happening for me. Here are my results:

[code]

[2022-08-26 14:40] charlyhue opened #220 "Utf8Error on dump create"
Database: **MariaDB**
Version: **10.5.15**
Character set: **Utf8mb4**

Command ```cat dump.sql | replibyte -c replibyte.yaml dump create -i -s mysql``` return this error:
[code]

Dump Command:
[code]

- I tried dump with `--default-character-set=utf8` and i got the same error.
- I tried with and without transformer and i got the same error.

[2022-08-26 17:28] evoxmusic commented on #220
Hi @charlyhue , what's your operating system?

[2022-08-26 17:42] evoxmusic commented on #219
Thank you @Cluas for reporting this issue. I am taking a look at potentially changing the SQL parser implementation because most of the opened issues are parsing issues.

[2022-08-26 20:23] gkesarwani commented on #169
+1

[2022-08-26 20:27] evoxmusic commented on #169
Thanks for your feedback - I will provide a fix. I am also looking at changing the way we parse queries more appropriately. Our handwritten parser starts to be complex to maintain.

[2022-08-27 06:39] farisam commented on #211
any update @evoxmusic ?

[2022-08-27 06:47] evoxmusic commented on #211
Hi @farisam , unfortunately, I didn't have the time yet to take a look. I will keep you posted.

[2022-08-27 06:48] farisam commented on #211
Thank you @evoxmusic 🙏

[2022-08-29 07:58] charlyhue commented on #220
Hi @evoxmusic I'm on Macos 12.15.1 (arm).

[2022-09-01 05:07] skyline93 commented on #202
Hi @evoxmusic , i have pull request #222 to the issue

[2022-09-01 06:34] evoxmusic commented on #202
Thank you 🙏

[2022-09-01 14:42] wicol opened #223 "Environment variables in config not working"
Should all environment variables work in the config or just the ones you mention in the docs?
`connection_uri: $DATABASE_URL` seems to work but not `connection_uri: postgres://postgres@<my-db-host>:5432/$DB_NAME`:

[code]

(`<my...>` is just dedacted)

[2022-09-01 14:43] maximgtoy commented on #217
I get this one too
`cat ./dump | replibyte -c conf.yaml dump create -i -s postgresql`

[2022-09-01 15:11] evoxmusic commented on #223
`connection_uri: $DATABASE_URL` will work where interpolation of value with env var will not (e.g `connection_uri: postgres://postgres@<my-db-host>:5432/$DB_NAME`). You can contribute to provide this feature.

[2022-09-02 07:05] wicol commented on #223
I don't know rust unfortunately (but I suppose this simple task would be a pretty good start eh? ;) ).

I did however manage to find the code where env var substitution happens and realized it's not that `$DATABASE_URL` is something hardcoded but rather the substitution only supports the entire value being a variable (you might want to point this out in the docs?).
This at least allows me to build

[2022-09-02 07:05] #223 closed

[2022-09-04 15:52] danilopolani opened #224 "Working with multiple databases"
Hey,
first of all, thank you for the amazing tool!

I was wondering if there's any way to work with multiple databases. AFAIK there's no chance to set multiple sources inside the same configuration file, so in the end, I created two different conf files.

What really confuses me is: why does the script create a "timestamp" folder with inside it `1.dump`? I think there will never be the same folder

[2022-09-04 16:44] evoxmusic commented on #224
Indeed, you have to create 2 configuration files. 1 for each source. Can you tell me more about why you want to manage multiple sources from the same conf file?

This also goes in "conflict" with the name argument: I thought that giving the dump a name would create <name>/1.dump, <name>/2.dump and so on (or maybe <name>/<timestamp>.dump) but actually it always replaces the first dump.

1.dump, 2.d

[2022-09-04 16:59] danilopolani commented on #224
Thank you for your answers!

I have a VPS with 2-3 databases in the same "connection" and I just want to create a dump of all of them; the configuration files are indeed the same except for the database name

[2022-09-05 17:11] nilscam commented on #174
Hi, it looks like columns name have the same issue :

The following doesn't work :
[code]

But the following works :
[code]

[2022-09-08 09:11] charlyhue commented on #220
Hi @evoxmusic, do you have any update?

[2022-09-12 21:32] patrick-grow-therapy commented on #146
Any update on this? Exploring the tunnel locally but would definitely be a useful feature!

[2022-09-13 16:12] patrick-grow-therapy commented on #64
Has this been looked at? I also thought it would be useful to specify which columns you're fine with outputting by default and then those not specified were always transformed. It'd be easier for people to onboard.

[2022-09-14 21:21] patrick-grow-therapy opened #225 "How can I ignore certain tables when creating a dump?"
I have certain tables in our production database that aren't necessary for local development, or would be risky attempting to anonymize given the chance for a leak. Is there a current way to ignore certain tables or anonymize all the columns within specific tables?

[2022-09-15 00:55] spegoraro commented on #74
Agreed! This would be awesome.

[2022-09-26 14:57] SnathanP commented on #225
Hello @patrick-grow-therapy , i've been looking for the same feature. [It seems tables can be ignored, as written in the code](https://github.com/Qovery/Replibyte/blob/270a232d1f4581fa2df3d92d747c4533ec117555/replibyte/src/source/postgres.rs#L221). But it does not seems to be documented yet. [The opposite feature (only tables) is barely mentionned](https://github.com/Qovery/Replibyte/blob/270a232d

[2022-10-07 15:39] cterence opened #227 "Unable to transform data on a simple use case"
Hello, I have been testing Replibyte and its features of data transformation, however, I have yet to successfully transform data, here is my setup :

Replibyte version : 0.9.7

docker-compose.yml

[code]

script.sh

[code]

replibyte.yaml in the /config directory

[code]

When I run `docker compose up`, the sample database is fed into the prod postgresql database and replibyte makes the dump and r

[2022-10-12 22:41] jessebye opened #228 "Error 1046 "No database selected" error when attempting dump restore"
When attempting to restore a dump with `replibyte -c conf.yaml dump restore local -v latest -i mysql`, we receive this error:

[code]

Here is our config file:
[code]

[2022-10-14 05:34] evoxmusic commented on #227
Hi @cterence , I see that you are using the `restore remote` command while you use a local data store. Can you try by using the `restore local` command?

[2022-10-14 05:41] evoxmusic commented on #228
Hi @jessebye , unfortunately the MySQL sunsetting option is not available at the moment. I need more time to refactor the current codebase and provide the MySQL sunsetting feature. Any contribution is appreciated :)

Can you try without the sunsetting options?

[2022-10-14 05:44] evoxmusic commented on #225
Feel free to open a PR to update the documentation 🙏

--

Adding a wildcard option to anonymize all fields from a table is something that I would love to add. But I have not enough time at the moment. I'd be happy to find a sparking partner to make it happen.

[2022-10-14 08:29] #109 closed

[2022-10-14 08:50] cterence commented on #227
Hi @evoxmusic, I've tried doing so and there is no change, the data is not transformed when I query it in the postgresql docker container.

If it could help, here are some details :

* I use the Linux AMD64 binary
* I tried both using local and remote datastore (on AWS S3) to the same effect
* When I inspect the dump by running `replibyte --config config/replibyte.yaml dump restore local --value l

[2022-10-14 13:39] mridude23 opened #230 "PostgreSQL: Unexpected EOF while in a multi-line comment"
Hi team,

While trying to subset a database of around 85 gb with a lot of foreign keys between tables I get the following error: (I am swapping table names and columns but keeping logic)
[code]

My `conf.yaml` file looks like this:
[code]

I tried with the latest 2 versions and the error is the same.
[code]
[code]

Also, I can seem to make Replibyte use the local_disk datastore as I define it. Whe

[2022-10-14 14:52] mridude23 commented on #230
Ok, so this might not have anything to do with Replibyte. I am now thinking there is something wrong with my data/relationships.

[2022-10-17 14:27] austincollinpena opened #231 "Slow Performance for 70mb PG Dump"
When running the `cat ./dumps/dump-123456.sql | ./replibyte -c conf.yaml dump create -i -s postgresql` command on a 70mb database, it takes over 25 minutes.

I'm running Windows, could that be an issue?

[2022-10-17 21:10] gumaerc opened #232 "unterminated string literal"
Hi there. I'm attempting to use Replibyte to set up replication of our production database to our test environment. The database in question is attached to a custom built CMS web application and the bulk of the data are text fields that store markdown. Running a replibyte dump against this database produces the following error output:

[code]

This data is a markdown code block with a Java example

[2022-10-19 16:10] jessebye commented on #228
Hi @evoxmusic, I modified my config to remove the subsetting options, but still receive the same error. Here is my latest config which still exhibits the error:

[code]

[2022-10-20 23:48] gugacavalieri opened #233 "Bug: AWS Cross Account S3 Buckets"
PR: https://github.com/Qovery/Replibyte/pull/212

Hey Guys. I think this actually broke AWS Cross account functionality. I am trying to store the dumps on a S3 bucket in another account.

When you use `list_buckets` the S3 Client won't return the buckets from another account. Do you remember why `get_bucket_accelerate_configuration` was breaking at first place?

Also the `list_buckets` operation r

[2022-10-21 13:57] cterence commented on #227
Hi @evoxmusic, great news because I found the problem on my part.
The `replibyte.yaml` config was wrong because in the `database` field of my transformers, I was putting the database name instead of the PostgreSQL schema name (which was `public` in my test case).
With this, the transformers features works as intended.

However, two questions arise from this :
- is there a reason that no error gets

[2022-10-21 13:57] #227 closed

[2022-10-21 14:03] jacobsvante commented on #36
This would be an awesome improvement to performance I would imagine!

[2022-10-28 23:00] evoxmusic commented on #233
Hi @gugacavalieri , since I don't have so much time those days. Do you think you can provide a fix? Thank you for your help

[2022-10-28 23:03] evoxmusic commented on #232
Hi @gumaerc , can you provide me the complete query that makes failing Replibyte? Then I can reproduce it and provide a fix on the parser. Thank you 🙏🏽

[2022-10-28 23:04] evoxmusic commented on #231
Hi @austincollinpena , can you show me your replibyte conf yaml file to see what options you use?

[2022-10-31 15:27] gumaerc commented on #232
@evoxmusic I'll have to do some setup to reproduce this as we've pivoted to simply using `pg_dump` / `pg_restore` for the time being. We run jobs like this in an instance of Concourse, which is a CI/CD runner like Github actions that runs everything in Docker containers that it throws away after the build so I don't have any saved logs.

I'll make another issue for this potentially, but another re

[2022-10-31 16:27] gugacavalieri commented on #233
Hi @evoxmusic. Sure, I will try to get a fix in the next weeks and let you know! Glad to help!

[2022-10-31 23:42] gugacavalieri commented on #232
This happened to me as well, so I had to do a little search in the DB to find bad data but it would be awesome if we could fix this to have the parser working correctly.

I can provide some test inputs (Might be related to this problem which involves single quotes in the database and backslashes):

SQL Dump (This is a valid output from pg_dump):

[code]

Replibyte config file:

[code]

Then if I r

[2022-11-01 00:47] gugacavalieri commented on #232
Another input where I can reproduce the error from this issue (Also came from `pg_dump` but I have changed some values):

[code]

[code]

If I remove the `\` or the `;` or the `:)` from the input it works correctly ...

[2022-11-01 03:13] carlopiloto commented on #193
It looks like I am having a similar issue:
`source:
  connection_uri: mysql://root@127.0.0.1:3306/artemis
  database_subset:
    database: artemis
    strategy_name: random
    table: review_attribute
    strategy_options:
      percent: 1
datastore:
  local_disk:
    dir: /Users/xxxxx/code/replibyte/data/artemis
destination:
 connection_uri: mysql://root@127.0.0.1:3306/replibyte_artemis`
Upon exe

[2022-11-05 19:23] gugacavalieri commented on #208
@davidbruce, @evoxmusic, I am having the same problem when dumping some tables that are over 100MB.

I think this could be related to the order in which the dumped chunks are being restored.

To keep parameters more flexible and as a workaround I added a PR to make it possible to set the buffer size: https://github.com/Qovery/Replibyte/pull/234.

When restoring a 160MB table with `buffer_size = 10

[2022-11-06 10:42] evoxmusic commented on #208
From what you describe, I have the feeling that the issue could come from [this function](https://github.com/Qovery/Replibyte/blob/main/replibyte/src/datastore/s3.rs#L555).

https://github.com/Qovery/Replibyte/blob/main/replibyte/src/datastore/s3.rs#L555

@gugacavalieri can you show me your replibyte `config.yaml` and can you also show me the content of your `metadata.json` at the root of your bac

[2022-11-06 19:52] gugacavalieri commented on #208
@evoxmusic , looks like it is only happening when I run with `local_disk` storage. Here is my configuration:

[code]

When running with `buffer_size = 100` it creates the following metadata and chunks:

[code]

<img width="716" alt="image" src="https://user-images.githubusercontent.com/4624484/200191246-c2092669-ebdf-43df-9535-912acda7c90a.png">

When restoring to local file (`restore local -i mys

[2022-11-06 20:07] gugacavalieri commented on #208
Probably this `read_dir` function is returning the files in the wrong order:

https://github.com/Qovery/Replibyte/blob/da8cd34d2d8d1139efd4ab30f036f08e296cc24f/replibyte/src/datastore/local_disk.rs#L183

[2022-11-06 20:18] evoxmusic commented on #208
Yes, a sort is necessary. Otherwise, it can not work. We can't rely on `read_dir(..)` that depends on the filesystem

[2022-11-06 20:19] gugacavalieri commented on #208
Would something like this do the trick?

[code]

[2022-11-06 20:22] evoxmusic commented on #208
I think it should be ok, we can write a test function. I will just make sure that the `.unwrap()` does not lead to an unexpected panic.

[2022-11-06 20:58] gugacavalieri commented on #208
Sounds good! You probably have better Rust skills for this one :)

[2022-11-07 04:12] ishikawa-pro opened #235 "Support Apple silicon mac?"
Hi there.
I think I want to use the Replibyte on the M1 mac. but it seems to have released binary is x86_64-apple-darwin only.
Is there how to use the Replibyte on the Apple silicon mac?

and more, I tried to install the Replibyte from homebrew, I can launch it.
Can we use the x86 binary on the apple silicon mac?

[2022-11-07 04:49] evoxmusic commented on #235
Hi, you can use the x86 binary on your M1 (I also have a M1 and it works fine).

I didn't invest time to build an ARM version but it should works without any issue. Happy to have your contribution

[2022-11-07 07:18] ishikawa-pro commented on #235
I also was able to dump and restore MongoDB's data on my M1 mac with x86 binary. 😄
Thank you for letting me know!

[2022-11-07 07:18] #235 closed

[2022-11-07 13:12] sondrelg commented on #220
Would it be possible to handle the error by `continue`ing? [This](https://github.com/Qovery/Replibyte/blob/main/dump-parser/src/utils.rs#L74) is the relevant line, not the fixme. I can submit a PR if you could confirm @evoxmusic - I'm also affect by this

[2022-11-07 23:43] evoxmusic commented on #220
Hi, yes can you provide a PR and I will adjust if needed

[2022-11-08 08:22] sondrelg commented on #220
PR ready 🙂

[2022-11-09 16:33] gugacavalieri opened #237 "Wrong order when restoring dumps (>= 10 Chunks)"
There is a problem when restoring dumps that have more than 10 chunks. This happens because of the way Replibyte is generating the chunk names.

So here it's what happening when we have over 10 chunks:

[code]

So `10.dump` and `11.dump` gets restored before `2.dump` and `3.dump` because Replibyte it's not adding a the trailing zero. For example: `02.dump` <= `10.dump`.

This is preventing dumps f

[2022-11-09 17:20] evoxmusic commented on #237
Thanks for reporting this issue. I know why it happened and I can provide a fix (or.you can if you want)

[2022-11-14 01:29] marigbede commented on #134
Hi @spatail and @evoxmusic. Nice work on the updates. Now the error is getting a bit more defined.
![image](https://user-images.githubusercontent.com/4842255/201556891-4cc58487-5cd5-41a7-8475-4741f1ba9890.png)
`thread 'main' panicked at 'assertion failed: `(left == right)`
  left: `1`,
 right: `0`: Column names do not match values: got 1 names and 0 values', replibyte/src/source/postgres.rs:364:5

[2022-11-15 19:43] #220 closed

[2022-11-17 09:26] sondrelg commented on #184
I'm trying to create a dump that's larger than 40GB compressed, and running out of memory. Do I have other options than streaming the dump over stdin?

[2022-11-27 14:05] behnam-io opened #242 "How to schedule replibyte to do automatic backup and restores?"
Hi,
I was searching for this, but couldn't find any instructions in the documenation. Is there any built-in (or a workaround) config to make the backups and restorations automatic? I want to run Replibyte on docker and assign a source and datasource to it, so it can periodically backup the postgres database and upload it to S3